.DS_Store
node_modules/
/dist/
bower_components
node_modules
*.swp
*.swo
.DS_Store
npm-debug.log
src/site-config/site.json
web-components/src/config/config.html
web-components/bower_components/
web-components/node_modules
web-components/build
.vscode
.history/
analysis.json
docs.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage
**/*/__snapshots__

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
