<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../components/blackfynn/explore/bf-explore.html">
<link rel="import" href="../components/blackfynn/explore/bf-concepts-search/bf-concepts-search.html">
<link rel="import" href="../components/blackfynn/explore/bf-concept-instance/bf-concept-instance.html">
<link rel="import" href="../vendor-scripts.html">

<link rel="import" href="../styles/blackfynn/main.html">

<dom-module id="blackfynn-view-explore">

  <template>

    <style include="blackfynn-main-styles"></style>
    <style>
      :host {
        background-color: var(--white-matter);
        display: block;
        height: calc(100vh - 60px);
        overflow: scroll;
        @apply(--layout-vertical);
        @apply(--layout-flex);
      }
      iron-pages {
        height: calc(100vh - 68px);
      }
      #listView {
        @apply(--layout-vertical);
        @apply(--layout-flex);
      }
    </style>

    <app-route
      route="{{route}}"
      pattern="/:view"
      data="{{routeData}}"
      tail="{{routeDataTail}}"
      active="{{isActive}}"></app-route>

    <iron-pages id="listView" role="main" selected="[[page]]" attr-for-selected="name">
      <bf-explore id="bfExplore" name="main" route="[[routeDataTail]]"></bf-explore>
      <bf-concepts-search name="concept" route="[[routeDataTail]]"></bf-concepts-search>
      <bf-concept-instance name="detail" route="[[routeDataTail]]"></bf-concept-instance>
    </iron-pages>

  </template>

  <script>

    Polymer({
      is: 'blackfynn-view-explore',

      properties: {
        /**
         * current page value
         */
        page: {
          type: String,
          computed: '_computePage(routeData.*)'
        },
        /**
         * checks if the route is active
         */
        isActive: {
          type: Boolean,
          value: false
        },
      },

      listeners: {
        'update-saved-search-list': '_handleUpdateSavedSearchList',
        'listView.iron-select': '_onIronSelect',
        'listView.iron-deselect': '_onIronDeselect'
      },

      _onIronSelect: function(e, detail) {
        detail.item.set('ironSelected', true)
      },

      _onIronDeselect: function(e, detail) {
        detail.item.set('ironSelected', false)
      },

      /**
       * Update saved search list
       */
      _handleUpdateSavedSearchList: function() {
        this.$.bfExplore.loadPage();
      },

      /**
       * Computes selected url
       */
      _computePage: function(view) {
        const defaultValue = 'main';
        const route = R.pathOr(defaultValue, ['base', 'view'], view);
        return route;
      }

    });

  </script>

</dom-module>
