<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../components/blackfynn/shared/bf-input/bf-input.html">
<link rel="import" href="../vendor-scripts.html">

<link rel="import" href="../styles/blackfynn/main.html">
<link rel="import" href="../styles/blackfynn/login.html">
<link rel="import" href="./password.html">

<dom-module id="blackfynn-view-login">

  <template>
    <style include="blackfynn-main-styles"></style>
    <style include="blackfynn-login-styles"></style>
    <style>
      .separator {
        color: var(--glial);
        margin: 15px 0;
        position: relative;
        text-align: center;
      }
      .separator:before {
        background: var(--cortex);
        content: '';
        height:1px;
        left: 0;
        position: absolute;
        top: 50%;
        width: 100%;
      }
      .separator-label {
        background: #fff;
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        padding: 0 15px;
        position: relative;
        text-transform: uppercase;
        z-index: 1;
      }
      .token-buttons-container {
        padding: 8px 0px;
        @apply(--layout-horizontal);
        @apply(--layout-end-justified);
      }
      a {
        cursor: pointer;
      }
    </style>
    <div class="wrapper">
      <div id="loginForm" class="login-wrap">
        <div class="login-header">
          <img src="/static/images/blackfynn-logo-full.svg" class="logo">
        </div>
        <div hidden$="{{_showToken}}">

          <bf-input
            id="inputEmail"
            placeholder="Your email address"
            value="{{email}}"
            type="email"
            autofocus
            required></bf-input>

          <bf-input
            id="inputPassword"
            placeholder="Your password"
            type="password"
            value="{{password}}"
            required></bf-input>

          <div class="form-actions">
            <paper-button
              class="light"
              submit
              noink
              on-tap="_handleLogin">Sign in</paper-button>
            <a on-tap="gotoResetPassword">Forgot your password?</a>
          </div>

          <iron-a11y-keys
            target="{{loginTarget}}"
            keys="enter"
            on-keys-pressed="_handleLogin"></iron-a11y-keys>

        </div>
        <div hidden$="{{!_showToken}}">
          <bf-input
            id="token"
            type="text"
            placeholder="Two-factor token"
            value="{{token}}"></bf-input>

          <div class="form-actions">
            <paper-button
              class="light"
              submit
              noink
              on-tap="_handleTokenSubmit">Submit</paper-button>

            <a href="#" on-tap="_handleTokenCancel">Cancel</a>
          </div>
          <iron-a11y-keys target="{{tokenTarget}}" keys="enter" on-keys-pressed="_handleTokenSubmit"></iron-a11y-keys>
        </div>
      </div>

      <bf-footer></bf-footer>

    </div>

    <iron-ajax
      method="POST"
      id="postLogin"
      handle-as="json"
      content-type="application/json"
      last-error="error"
      on-error="_handleLoginError"
      on-response="_handleLoginResponse">
    </iron-ajax>

    <iron-ajax
      method="POST"
      id="postTwoFactorToken"
      handle-as="json"
      content-type="application/json"
      last-error="error"
      on-error="_handleLoginError"
      on-response="_handleTwoFactorTokenResponse">
    </iron-ajax>

  </template>

  <script>

    Polymer({
      is: 'blackfynn-view-login',

      properties: {
        email: {
          type: String
        },
        password: {
          type: String
        },
        loginTarget: {
          type: Object,
          value: function() {
            return this.$.loginForm;
          }
        },
        tokenTarget: {
          type: Object,
          value: function() {
            return this.$.tokenForm;
          }
        },
        _showToken: {
          type: Boolean,
          value: false
        }
      },

      listeners: {
        'selected': 'onSelected'
      },

      observers: [
        '_watchApiUrl(api)'
      ],

      gotoResetPassword: function() {
        this.fire('set-vue-route', {
          name: 'password'
        })
      },

      _watchApiUrl: function(api) {
        if (api) {
          this.$.postLogin.url = `${api}/account/login`;
        }
      },

      /**
       * Fired when the user selects this page to be viewed
       */
      onSelected: function() {
        this.$.inputEmail.focus();
      },

      _handleLogin: function() {
        if(this.email && this.password) {
          let body = {
            email: this.email,
            password: this.password
          };
          this.$.postLogin.body = body;
          this.$.postLogin.generateRequest();
        } else {
          this.fire('toast', {type: 'MESSAGE', msg: 'Email and password are required'});
        }
      },

      /**
       * handles login repsonse from api
       * @param {Event} e
       * @param {Object} detail
       */
      _handleLoginResponse: function(e, detail) {
        const statusCode = detail.status;
        const token = R.pathOr('', ['response', 'sessionToken'], detail);
        const profile = R.pathOr({}, ['response', 'profile'], detail);
        switch(statusCode) {
          case 200:
            this.fire('login', {token, profile});
            this.email = '';
            this.password = '';
            this.fire('login-user', {token, profile})
            break;
          case 202:
            this._tempSessionToken = token;
            this.email = '';
            this.password = '';
            this._showToken = true;
            this.$.token.focus();
            break;
          default:
            // treat any other unknown condition as an error
            this.fire('toast', {type: 'MESSAGE', msg: 'Invalid email or password'});
            break;
        }
      },

      /**
       * handles login error returned by api
       * @param {Event} evt
       */
      _handleLoginError: function(evt) {
        const msg = R.pathOr('Invalid email or password', ['detail', 'request', 'xhr', 'response', 'message'], evt);
        this.fire('toast', {type: 'MESSAGE', msg});
      },

      _handleTokenSubmit: function(e) {
        if(this.token && this._tempSessionToken) {
          this.$.postTwoFactorToken.url = `${this.api}/account/login/twofactor?api_key=${this._tempSessionToken}`
          this.$.postTwoFactorToken.body = { token: this.token };
          this.$.postTwoFactorToken.generateRequest();
        } else {
          this.fire('toast', {type: 'MESSAGE', msg: 'Token is required'});
        }
      },

      _handleTwoFactorTokenResponse: function(e, detail) {
        if(detail.status === 200) {
          this.fire('login', {
            token: detail.response.sessionToken,
            profile: detail.response.profile
          });
          this.token = '';
          this._showToken = false;
        }
      },

      _handleTokenCancel: function(e) {
        this.token = '';
        this._showToken = false;
      }
    });

  </script>

</dom-module>
