<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../components/blackfynn/global/bf-footer/bf-footer.html">
<link rel="import" href="../components/blackfynn/shared/bf-input/bf-input.html">
<link rel="import" href="../components/blackfynn/shared/password-validator.html">
<link rel="import" href="../components/blackfynn/shared/password-behavior.html">

<link rel="import" href="../styles/blackfynn/main.html">
<link rel="import" href="../styles/blackfynn/login.html">
<link rel="import" href="../styles/blackfynn/password.html">

<dom-module id="blackfynn-view-password">

  <template>
    <style include="blackfynn-main-styles"></style>
    <style include="blackfynn-login-styles"></style>
    <style include="blackfynn-password-styles"></style>
    <style>
      :host {
        background: var(--neuron);
        display: block;
      }
      .paper-button {
        cursor: pointer;
      }
    </style>

    <div class="wrapper">
      <div id="accountForm" class="login-wrap">
        <div class="login-header">
          <img src="/static/images/blackfynn-logo-full.svg" class="logo">
        </div>

        <div hidden$="[[_linkSent]]">
          <h2 class="sharp-sans">Reset your password.</h2>

          <p hidden$="[[hideEmail]]">Enter the email address associated with your account, and we’ll email you a link to reset your password.</p>

          <bf-input
            id="inputEmail"
            hidden$="[[hideEmail]]"
            placeholder="Your email address"
            type="email"
            value="{{email}}"
            autofocus></bf-input>

          <p class="password-requirements" hidden$="[[hidePassword]]">We recommend that you create a password that is more than 8 characters long and contains a combination of uppercase & lowercase characters, numbers and symbols.</p>

          <password-validator></password-validator>

          <bf-input
            id="password"
            placeholder="Password"
            type="password"
            value="{{password}}"
            required="true"
            hidden$="{{hidePassword}}"
            invalid="{{isPasswordInvalid}}"
            autofocus
            auto-validate
            show-icon="{{showIcon}}"
            validator="password-validator">
            <div id="pwRecommendation" slot="password-recommendation">
              <p class="pw-recommendation-text">{{pwRecommendation}}</p>
            </div>
          </bf-input>

          <div class="form-actions">
            <paper-button
              class="light"
              submit
              noink
              on-tap="_handleAction">Reset password</paper-button>
            <a on-tap="gotoLogin" class="paper-button" tabindex="-1">Back to sign in page.</a>
          </div>
        </div>

        <div hidden$="[[!_linkSent]]">
          <h2 class="sharp-sans">Reset link sent.</h2>
          <p>We’ve sent an email that contains a link to reset your password. Contact support if you have any issues or don’t receive an email.</p>

          <div class="form-actions">
            <a on-tap="gotoLogin" class="paper-button"><paper-button class="light" noink>Back to sign in</paper-button></a>
          </div>

        </div>
      </div>

      <bf-footer></bf-footer>

    </div>

    <iron-a11y-keys target="{{passwordTarget}}" keys="enter" on-keys-pressed="_handleAction"></iron-a11y-keys>

    <app-location
      query-params="{{query}}"></app-location>

    <iron-ajax
      method="POST"
      id="postResetPasswordEmail"
      handle-as="json"
      content-type="application/json"
      last-error="error"
      on-response="_handleActionResponse">
    </iron-ajax>

    <iron-ajax
      method="POST"
      id="postResetPassword"
      handle-as="json"
      content-type="application/json"
      last-error="error"
      on-response="_handleActionResponse">
    </iron-ajax>

  </template>

  <script>

    Polymer({
      is: 'blackfynn-view-password',

      behaviors: [
        Blackfynn.PasswordBehavior
      ],

      properties: {
        api: {
          type: String
        },
        email: {
          type: String
        },
        password: {
          type: String
        },
        resetToken: {
          type: String
        },
        hideEmail: {
          type: Boolean,
          value: false
        },
        hidePassword: {
          type: Boolean,
          value: true
        },
        passwordTarget: {
          type: Object,
          value: function() {
            return this.$.accountForm;
          }
        },
        /**
         * Set on reset password callback, shows user message
         */
        _linkSent: {
          type: Boolean,
          value: false
        }
      },

      gotoLogin: function() {
        this.fire('set-vue-route', { name: 'home' })
      },

      checkResetToken: function(e, detail) {
        const hasResetToken = this.query.hasOwnProperty('resetToken');

        this.set('resetToken', this.query['resetToken']);
        this.set('hidePassword', !hasResetToken);
        this.set('hideEmail', hasResetToken);

        if(hasResetToken) {
          this.$.password.focus();
        } else {
          this.$.inputEmail.focus();
        }
      },

      _handleAction: function() {
        if (this.hidePassword && this.email) {
          // Validate email
          const validEmail = this.$.inputEmail.validate();
          if(!validEmail) {
            return;
          }

          // trigger password reset email
          this.$.postResetPasswordEmail.url = `${this.api}/account/${this.email}/reset`;
          this.$.postResetPasswordEmail.generateRequest();
        } else if (!this.hidePassword && this.resetToken) {
          const validPassword = this.$.password.validate();
          if (!validPassword) {
            return;
          }

          // reset password
          let body = {
            resetToken: this.resetToken,
            newPassword: this.password
          };
          const postResetPassword = this.$.postResetPassword;
          postResetPassword.url = `${this.api}/account/reset`;
          postResetPassword.body = body;
          postResetPassword.generateRequest();
        }
      },

      _handleActionResponse: function(e, detail) {
        if(this.hideEmail && this.resetToken) {
          this.fire('login', { token: detail.response.sessionToken, profile: detail.response.profile, page: 'search' });
        } else {
          this.set('_linkSent', true);
        }
        this.email = '';
        this.password = '';
        this.resetToken = '';
      },

      /**
       * Fired when the user selects this page to be viewed
       */
      ready: function() {
        this.set('_linkSent', false);
        this.checkResetToken();

        // Reset input fields
        this.set('email', '');
        this.set('password', '');
      }

    });

  </script>

</dom-module>
