@import '../../../../assets/_variables.scss';

.concept-instance-static-property {
  box-sizing: border-box;
  color: $gray_4;
  border-top: 1px solid $gray_2;
  min-height: 16px;
  padding: 8px 0;
  &:first-child {
    border: none;
  }
  &:hover {
    .icon-prop {
      display: inline-flex;
    }
  }
  .name {
    //color: $gray_4;
    font-weight: 300;
    position: relative;
  }
  .property-label {
    display: inline-block;
    max-width: 85%;
    overflow: hidden;
    position: relative;
    top: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    .editing & {
      top: 12px;
    }
  }
  .required {
    display: inline-block;
    position: relative;
    top: 6px;
  }
  .property-value.boolean {
    text-transform: capitalize
  }
  .icon-prop {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  .button-edit {
    color: $gray_4;
    margin-left: 8px;
    &:hover {
      color: $app-primary-color
    }
  }
}
