.tabs {
  display: flex;
  li {
    margin-left: 32px;
    &:first-child {
      margin: 0;
    }
  }
  a {
    color: $gray_3;
    display: inline-flex;
    padding: 0 0 16px;
    position: relative;
    text-decoration: none;
    &:hover, &:focus {
      color: white;
      text-decoration: none;
    }
    &.router-link-active, &.active {
      color: white;
      &:after {
        color: white;
        background: $purple_tint;
        bottom: 0;
        content: '';
        left: 0;
        height: 6px;
        position: absolute;
        width: 100%;
      }
    }
    &.disabled {
      cursor: default;
      color: $gray_4;
    }
  }
}
