@import '../_variables.scss';

.el-select-dropdown {
  border: 1px solid $gray_2;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
  min-width: 200px;

  .popper__arrow {
    display: none;
  }

  &.el-popper[x-placement^="bottom"] {
    margin-top: 1px;
  }

  &.el-popper[x-placement^="top"] {
    margin-bottom: 1px;
  }
}

.el-select .el-input.is-focus .el-input__inner, .el-select .el-input__inner:focus {
  border-color: $app-primary-color;
}

.el-select .el-input .el-select__caret {
  color: $gray_6;
  &.is-reverse {
    color: $purple_1;
  }
}

.el-select-dropdown__empty {
  color: $gray_4;
  padding: 16px;
  text-align: left;
}

.el-select-dropdown.el-popper {
  transition: none;
}

.el-select-dropdown__item {
  height: auto;
  padding: 4px 16px;

  span {
    display: block;
    line-height: 16px !important;
  }

  &:hover, &:focus {
    background-color: $gray_2;
    color: $text-color;
  }

  &.selected {
    background-color: $purple_2;
    color: #fff;
    font-weight: 500;
  }
}

.el-select-group__title {
  color: $gray_6;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 16px;
  text-transform: uppercase;
}

.dropdown-group__title {
  .el-select-group__title {
    color: $purple_3;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -10px;
    margin-top: -11px;
  }
}
