@import '../_variables.scss';

.el-checkbox {
    color: $gray_4;
    font-weight: normal;
    font-size: 14px;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
    color: black;
}
.long-label {
  display: flex;
  /deep/ .el-checkbox__input {
    margin-top: 3px;
  }
}
