@import '../_variables.scss';

.el-radio {
  &.right-radio {
    display: flex;
    flex-direction: row-reverse;
    .el-radio__label {
      padding-left: 0;
      padding-right: 10px;
    }
  }
}

.el-radio__inner {
  border: 1px solid $gray_2;
}

.el-radio__input.is-checked + .el-radio__label {
  color: inherit
}
