<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../data/bf-data-size-formatting-behavior.html">
<link rel="import" href="../shared/bf-avatar/bf-avatar.html">
<link rel="import" href="../state/bf-state-aware-behavior.html">
<link rel="import" href="../shared/bf-ajax-behavior.html">
<link rel="import" href="member-remove-window.html">
<link rel="import" href="member-info-window.html">
<link rel="import" href="bf-team-member-menu.html">
<link rel="import" href="../shared/blackfynn-menu.html">
<link rel="import" href="../../../vendor-scripts.html">

<link rel="import" href="../../../styles/blackfynn/main.html">
<link rel="import" href="../../../styles/blackfynn/team.html">
<link rel="import" href="../../../styles/blackfynn/data-item.html">

<dom-module id="bf-team-member">

  <template>

    <style include="blackfynn-main-styles"></style>
    <style include="bf-team-styles"></style>
    <style include="bf-data-item-styles"></style>
    <style>
      :host {
        border-top: 1px solid var(--cortex);
        display: block;
      }
      .status {
        color: var(--glial);
        font-size: 14px;
        margin-right: 10px;
      }
      .member-wrap {
        color: var(--glial);
        padding: 15px 0;
        position: relative;
        @apply(--layout-horizontal);
        @apply(--layout-center);
      }
      .member-info {
        @apply(--layout-vertical);
        @apply(--layout-flex);
      }
      .team-member {
        min-width: 300px;
      }
      .name {
        color: var(--text-color);
        font-weight: 500;
      }
      #menu {
        right: 2px;
        max-width: none !important;
        min-width: 120px;
        position: absolute;
        --arrow-left: auto;
        --arrow-right: 20px;
        --arrow-border-left: auto;
        --arrow-border-right: 19px;
      }
      #menu a {
        color: inherit;
        text-decoration: none;
      }
      bf-avatar {
        margin-right: 10px;
      }
      :host([pending]) .col-status {
        flex: 2;
      }
    </style>

    <div class="member-wrap">
      <div class="col col-member">
        <bf-avatar profile="[[member]]"></bf-avatar>
        <div class="member-info">
          <div class="name" hidden$="[[pending]]">[[member.firstName]] [[member.lastName]]</div>
          <div class="email">[[member.email]]</div>
        </div>
      </div>
      <div class="col col-usage" hidden$="[[pending]]">[[_convertMetric(member.storage)]]</div>
      <div class="col col-role" hidden$="[[pending]]">[[displayRole(member.id, state.activeOrganization.administrators, state.activeOrganization.owners)]]</div>
      <div class="col col-status" hidden$="[[!pending]]">[[status]]</div>
      <div class="col col-menu">
        <iron-icon
          id="teamMenuIcon"
          class="team-menu-icon"
          tabindex="0"
          icon="blackfynn:more-h"
          on-tap="_openTeamMenu"
          hidden="[[!admin]]"></iron-icon>
        <bf-team-member-menu
          id="teamMenu"
          pending="[[pending]]"
          is-admin="[[inList(member.id, state.activeOrganization.administrators)]]"></bf-team-member-menu>
      </div>
    </div>


    <blackfynn-member-remove-window
      id='blackfynnRemoveMemberWindow'
      team="[[team]]"
      member="[[member]]"></blackfynn-member-remove-window>

    <blackfynn-member-info-window
      id="memberInfo"
      member="{{member}}"></blackfynn-member-info-window>

    <iron-ajax
      id="refreshInvite"
      method="PUT"
      content-type="application/json"
      handle-as="json"
      on-response="onRefreshInvite"
      on-error="onRefreshInviteError"></iron-ajax>

    <iron-ajax
      id="resetPassword"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="onResetPassword"
      on-error="onResetPasswordError"></iron-ajax>

    <iron-ajax
      id="promoteToAdmin"
      method="PUT"
      content-type="application/json"
      handle-as="json"
      on-response="onPromoteToAdmin"
      on-error="onPromoteToAdminError"></iron-ajax>

      <iron-ajax
        id="demoteFromAdmin"
        method="PUT"
        content-type="application/json"
        handle-as="json"
        on-response="onDemoteAdmin"
        on-error="onDemoteAdminError"></iron-ajax>

  </template>

  <script>

    Polymer({
      is: 'bf-team-member',

      behaviors: [
        StateAwareBehavior,
        Blackfynn.AjaxBehavior,
        Blackfynn.DataSizeFormattingBehavior
      ],

      properties: {
        /**
         * team object
         */
        team: {
          type: Object,
          value: function() {
            return {};
          }
        },
        /**
         * member object
         */
        member: {
          type: Object,
          value: function() {
            return {};
          },
          notify: true
        },
        /**
         * computes if user is team member
         */
        _isSelf: {
          type: Boolean,
          computed: '_computeIsSelf(state.profile.id, member.id)'
        },
        /**
         * If the user's invite is pending
         */
        pending: {
          type: Boolean,
          value: false
        },
        /**
         * Compute user's invitation status
         */
        status: {
          type: String,
          computed: '_computeStatus(member.validUntil)'
        },
      },

      listeners: {
        'open-remove-member': '_removeMember',
        'open-edit-member': 'viewMember',
        'resend-invitation': '_resendInvitation',
        'reset-password': 'resetPassword',
        'promote-to-admin': 'promoteToAdmin',
        'demote-admin': 'demoteAdmin'
      },

      /**
       * Determines if user is a list
       * @param {String}
       * @param {Array}
       * @returns {Boolean}
       */
      inList: R.compose(
        Boolean,
        R.useWith(
          R.find, [R.propEq('id')]
        )
      ),

      /**
       * Displays the users role within the organization
       * @param {String}
       * @param {Array}
       * @returns {String}
       */
      displayRole: function(memberId, admins, owners) {
        const _isAdmin = this.inList(memberId, admins);
        const _isOwner = this.inList(memberId, owners);
        switch(true) {
          case _isAdmin:
            return 'Admin'
          case _isOwner:
            return 'Owner'
          case !this.pending:
            return 'Member';
          default:
            return String.fromCharCode(8212);
        }
      },

      /**
       * Computes if user is team member
       * @param {String} profileId
       * @param {String} memberId
       */
      _computeIsSelf: function(profileId, memberId) {
        return profileId === memberId;
      },

      /**
        * Compute user's invitation status
        * @param {Date} validUntil
        * @return {String}
        */
      _computeStatus: function(validUntil) {
        let status = 'Invited';
        const now = moment.utc();
        const expiresDate = moment.utc(validUntil);

        // Check if invitation has expired
        if(moment(expiresDate).isBefore(now)) {
          status = 'Invite expired';
        }
        return status;
      },

      /**
       * opens team menu
       */
      _openTeamMenu: function() {
        this.$.teamMenu.set('opened', true);
      },

      /**
       * opens team member info dialog
       */
      viewMember: function() {
        this.$.memberInfo.$.dialog.open();
      },

      /**
       * opens remove team member dialog
       */
      _removeMember: function(e) {
        e.stopPropagation();
        this.$.blackfynnRemoveMemberWindow.$.dialog.open();
      },

      /**
       * Resend invitation
       */
      _resendInvitation: function() {
        const refreshInvite = this.$.refreshInvite;

        refreshInvite.url = `${this.state.apiUrl}/organizations/${this.state.activeOrganization.organization.id}/invites/${this.member.id}?api_key=${this.state.userToken}`;
        refreshInvite.generateRequest();
      },

      /**
       * Callback from API on resend invitation
       * @param {Object} Event object
       * @param {Object} XHR response
       */
      onRefreshInvite: function(e, detail) {
        this.fire('toast', { msg: `Invite resent` });
        this.set('member', detail.response);
      },

      /**
       * Error from API on resend invitation
       */
      onRefreshInviteError: function() {
        this.fire('toast', { msg: `Error resending invite` });
      },

      /**
       * Resets password
       */
      resetPassword: function() {
        const resetPassword = this.$.resetPassword;
        resetPassword.url = `${this.state.apiUrl}/account/${this.member.email}/reset`;
        resetPassword.generateRequest();
      },

      /**
       * Callback from API on reset password
       * @param {Object} Event object
       * @param {Object} XHR response
       */
      onResetPassword: function(e, detail) {
        this.fire('toast', { msg: `Password reset` });
        this.async(() => this.fire('logout'), 1500);
      },

      /**
       * Error from API on reset password
       */
      onResetPasswordError: function() {
        this.fire('toast', { msg: `Error resetting password` });
      },

      /**
       * Promote user to admin
       */
      promoteToAdmin: function() {
        const promoteToAdmin = this.$.promoteToAdmin;
        promoteToAdmin.url = `${this.state.apiUrl}/organizations/${this.state.activeOrganization.organization.id}/members/${this.member.id}?api_key=${this.state.userToken}`;
        promoteToAdmin.body = {
          permission: 'administer'
        };
        promoteToAdmin.generateRequest();
      },

      /**
       * Callback from API on promote to admin
       * @param {Object} payload
       */
      onPromoteToAdmin: function(payload) {
        const currentAdmins = R.pathOr([], ['state', 'activeOrganization', 'administrators'])(this);
        const member = R.path(['detail', 'response'], payload);
        const updatedAdmins = currentAdmins.concat([member]);
        this.fire('set-state-path', {
          path: 'activeOrganization.administrators',
          state: updatedAdmins
        });
        this.notifyPath('state.activeOrganization.administrators');
        this.fire('toast', { msg: `User promoted to admin` });
      },

      /**
       * Error from API on promote to admin
       */
      onPromoteToAdminError: function() {
        this.fire('toast', { msg: `Error promoting user to admin` });
      },

      /**
       * Demote user from admin
       */
      demoteAdmin: function() {
        const demoteFromAdmin = this.$.demoteFromAdmin;
        demoteFromAdmin.url = `${this.state.apiUrl}/organizations/${this.state.activeOrganization.organization.id}/members/${this.member.id}?api_key=${this.state.userToken}`;
        demoteFromAdmin.body = {
          permission: 'delete'
        };
        demoteFromAdmin.generateRequest();
      },

      /**
       * Callback from API on demote from admin
       * @param {Object} payload
       */
      onDemoteAdmin: function(payload) {
        const currentAdmins = R.pathOr([], ['state', 'activeOrganization', 'administrators'])(this);
        const memberId = R.path(['detail', 'response', 'id'], payload);
        const updatedAdmins = currentAdmins.filter(admin => admin.id !== memberId);
        this.fire('set-state-path', {
          path: 'activeOrganization.administrators',
          state: updatedAdmins
        });
        this.fire('toast', { msg: `User demoted from admin` });
      },

      /**
       * Error from API on demote from admin
       */
      onDemoteAdminError: function() {
        this.fire('toast', { msg: `Error demoting user from admin` });
      }

    });

  </script>

</dom-module>
