<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../shared/blackfynn-menu.html">
<link rel="import" href="../shared/blackfynn-menu-item.html">
<link rel="import" href="team-menu-behavior.html">

<link rel="import" href="../../../styles/blackfynn/main.html">
<link rel="import" href="../../../styles/blackfynn/team-menu.html">

<dom-module id="bf-team-member-menu">

  <template>
    <style include="blackfynn-main-styles"></style>
    <style include="bf-team-menu-styles"></style>

    <blackfynn-menu hidden$="[[!opened]]" id="teamMenu">
      <a href="#" tabindex="-1" hidden$="[[!pending]]">
        <blackfynn-menu-item hide-icon on-tap="resendInvitation">Resend invitation</blackfynn-menu-item>
      </a>
      <a href="#" tabindex="-1" hidden$="[[pending]]">
        <blackfynn-menu-item hide-icon on-tap="editMember">Edit member</blackfynn-menu-item>
      </a>
      <a href="#" tabindex="-1">
        <blackfynn-menu-item hide-icon on-tap="removeMember">Remove member</blackfynn-menu-item>
      </a>
      <a href="#" tabindex="-1" hidden$="[[pending]]">
        <blackfynn-menu-item hide-icon on-tap="resetPassword">Reset password</blackfynn-menu-item>
      </a>
      <template is="dom-if" if="[[!isAdmin]]">
        <a href="#" tabindex="-1" hidden$="[[pending]]">
          <blackfynn-menu-item hide-icon on-tap="promoteToAdmin">Promote to admin</blackfynn-menu-item>
        </a>
      </template>
      <template is="dom-if" if="[[isAdmin]]">
        <a href="#" tabindex="-1" hidden$="[[pending]]">
          <blackfynn-menu-item hide-icon on-tap="demoteAdmin">Demote admin</blackfynn-menu-item>
        </a>
      </template>
    </blackfynn-menu>

  </template>


  <script>
    Polymer({
      is: 'bf-team-member-menu',

      behaviors: [
        Polymer.IronOverlayBehavior,
        Blackfynn.TeamMenuBehavior
      ],

      properties: {
        /**
         * tracks the user's invitation process
         */
        pending: {
          type: Boolean,
          value: false
        },
        /**
         * tracks if user is an admin for an org
         */
        isAdmin: {
          type: Boolean,
          value: false
        }
      },

      /**
       * fire event to open edit member dialog
       */
      editMember: function() {
        this._fireEvent('open-edit-member');
      },

      /**
       * fire event to open remove member dialog
       */
      removeMember: function() {
        this._fireEvent('open-remove-member');
      },

      /**
       * fire event to resend the invitation
       */
      resendInvitation: function() {
        this._fireEvent('resend-invitation');
      },

      /**
       * fire event to reset the password
       */
      resetPassword: function() {
        this._fireEvent('reset-password');
      },

      /**
       * fire event to promote to admin
       */
       promoteToAdmin: function() {
        this._fireEvent('promote-to-admin');
      },

      /**
       * fire event to demote admin
       */
       demoteAdmin: function() {
        this._fireEvent('demote-admin');
      }
    });
  </script>

</dom-module>
