<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../../../bower_components/paper-item/paper-icon-item.html">

<link rel="import" href="../shared/blackfynn-menu.html">
<link rel="import" href="../shared/blackfynn-menu-item.html">
<link rel="import" href="../shared/bf-menu-heading.html">
<link rel="import" href="team-menu-behavior.html">

<link rel="import" href="../../../styles/blackfynn/main.html">
<link rel="import" href="../../../styles/blackfynn/team-menu.html">
<link rel="import" href="../../../styles/blackfynn/icons.html">

<dom-module id="bf-team-menu">

  <template>
    <style include="blackfynn-main-styles"></style>
    <style include="bf-team-menu-styles"></style>

    <blackfynn-menu hidden$="[[!opened]]" id="teamMenu">
      <a href="#" tabindex="-1" on-tap="renameTeam">
        <blackfynn-menu-item icon="blackfynn:settings">Rename</blackfynn-menu-item>
      </a>

      <a href="#" tabindex="-1" on-tap="editTeamMembers">
        <blackfynn-menu-item icon="blackfynn:account-multiple">Edit Members</blackfynn-menu-item>
      </a>

      <a href="#" tabindex="-1" on-tap="deleteTeam">
        <blackfynn-menu-item icon="blackfynn:delete">Delete</blackfynn-menu-item>
      </a>
    </blackfynn-menu>

  </template>


  <script>
    Polymer({
      is: 'bf-team-menu',

      behaviors: [
        Polymer.IronOverlayBehavior,
        Blackfynn.TeamMenuBehavior
      ],

      properties: {
         /**
          * team object
          */
        team: {
          type: Object,
          value: function() {
            return {};
          }
        },
      },

      /**
       * fire event to open team dialog
       */
      renameTeam: function() {
        this._fireEvent('open-rename-team');
      },

      /**
       * fire event to open team member dialog
       */
      editTeamMembers: function() {
        this._fireEvent('open-team-members');
      },

      /**
       * fire event to open delete team dialog
       */
      deleteTeam: function() {
        this._fireEvent('open-delete-team');
      },
    });
  </script>

</dom-module>
