<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../state/bf-state-aware-behavior.html">
<link rel="import" href="../shared/bf-dialog/bf-dialog.html">
<link rel="import" href="../shared/bf-input/bf-input.html">
<link rel="import" href="../shared/patched-overlay-behavior.html">
<link rel="import" href="../../../styles/blackfynn/main.html">

<dom-module id="blackfynn-member-remove-window">

  <template>

    <style include="blackfynn-main-styles"></style>
    <style>
      :host {
        display: block;
      }
    </style>

    <bf-dialog id="dialog" on-iron-overlay-opened="patchOverlay">
      <h2 slot="heading">Confirm Removal</h2>
      <p slot="body">Are you sure you want to remove the member: <strong>[[memberDisplayName]]</strong>?</p>
      <div slot="buttons">
        <paper-button hidden$="[[processing]]" class="delete" on-tap="_doRemoveFromTeam">Remove</paper-button>
      </div>
    </bf-dialog>

    <iron-ajax
      id="removeMember"
      method="DELETE"
      handle-as="json"
      content-type="application/json"
      loading="{{processing}}"
      on-error="ajaxError"
      on-response="_handleRemoveFromTeam"
      debounce-duration="300"></iron-ajax>

    <iron-a11y-keys keys="enter" on-keys-pressed="_doRemoveFromTeam"></iron-a11y-keys>

  </template>

  <script>

    Polymer({
      is: 'blackfynn-member-remove-window',

      behaviors: [
        StateAwareBehavior,
        Blackfynn.PatchedOverlayBehavior,
      ],

      properties: {
        team: {
          type: Object,
          value: function() {
            return {};
          }
        },
        member: {
          type: Object,
          value: function() {
            return {};
          }
        },
        processing: {
          type: Boolean,
          value: false,
          notify: true
        },
        /**
         * member display name
         */
        memberDisplayName: {
          type: String,
          computed: '_computeMemberDisplayName(member)'
        },
      },

      /**
       * gets the member's fullname
       * @param {Object} member Object
       * @return {String} member's full name
       */
      _getFullName: R.compose(R.trim, R.join(' '), R.props(['firstName', 'lastName']), R.defaultTo({})),

      /**
       * computes the member's full name or email address
       */
      _computeMemberDisplayName: function(member) {
        const fullName = this._getFullName(member);
        return fullName.length > 0 ? fullName : R.propOr('', 'email', member);
      },

      ajaxError: function(e, detail) {
        this.fire('ajaxError', { status: detail.request.status });
      },

      _doRemoveFromTeam: function() {
        let endpoint = '';
        const orgId = this.state.activeOrganization.organization.id;
        const userToken = this.state.userToken;
        const apiUrl = this.state.apiUrl;
        if(this.member.validUntil) {
          endpoint = `${apiUrl}/organizations/${orgId}/invites/${this.member.id}?api_key=${userToken}`;
        } else {
          if (this.team.id === undefined) {
            endpoint = `${apiUrl}/organizations/${orgId}/members/${this.member.id}?api_key=${userToken}`;
          } else {
            endpoint = `${apiUrl}/organizations/${orgId}/teams/${this.team.id}/members/${this.member.id}?api_key=${userToken}`;
          }
        }
        const request = this.$.removeMember;

        request.url = endpoint;
        request.generateRequest();
      },

      _handleRemoveFromTeam: function(e, detail) {
        this.fire('member-removed', { member: this.member });

        // Set message if the user is modifying a team or organization
        let removeFrom = this.state.activeOrganization.organization.name;

        if(this.team.name !== undefined) {
          removeFrom = this.team.name;
        }

        this.fire('toast', {
          type: 'MESSAGE',
          msg: `${this.member.email} removed from ${removeFrom}`
        });

        this.$.dialog.toggle();
        this.member = null;
      }
    });

  </script>

</dom-module>
