<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="../../../styles/blackfynn/icons.html">
<link rel="import" href="../../../styles/blackfynn/main.html">

<link rel="import" href="../shared/blackfynn-heading-panel.html">
<link rel="import" href="../shared/two-factor-behavior.html">
<link rel="import" href="member-add-two-factor-window.html">
<link rel="import" href="member-remove-two-factor-window.html">

<dom-module id="blackfynn-teams-navigation">

  <template>

    <style include="blackfynn-main-styles"></style>
    <style>
      :host {
        display: block;
        --paper-item: {
          cursor: pointer;
          font-size: 14px;
          min-height: 40px;
          padding: 0px 16px;
        }
        --paper-item-focused-before: {
          background: #eee;
        }
      }
      paper-material {
        background: white;
      }
      .profile {
        font-size: 15px;
        padding: 16px;
        @apply(--layout-horizontal);
        @apply(--layout-center);
      }
      .profile-items {
        margin: 0pt;
        padding: 0pt 0pt 0pt 10px;
        list-style-type: none;
      }
      .edit-profile {
        position: fixed;
        padding-left: 25px;
        padding-top: 2px;
        font-size: 14px;
        text-decoration: none;
        color: #677b8a;
      }
      .edit-profile iron-icon {
        height: 16px;
        width: 16px;
      }
      .two-factor iron-icon {
        height: 16px;
        width: 16px;
        padding-bottom: 3px;
      }
      .two-factor a {
        font-size: 14px;
        text-decoration: none;
        color: #677b8a;
      }
      h2 {
        background-color: var(--paper-blue-grey-100);
        font-size: 15px;
        margin-bottom: 0;
        padding: 8px 16px;
      }
      paper-item {
        cursor: pointer;
        font-size: inherit;
        min-height: 38px;
      }
      paper-item:hover {
        background: #eee;
      }
      .profile-item {
        color: var(--blackfynn-med-grey);
      }
      .create-team {
        margin: 10px 0pt 20px 25px;
      }
    </style>

    <blackfynn-heading-panel elevation="1" heading="Teams">
      <div class="section pad">
        <paper-button class="primary" on-tap="_toggleCreateNewTeam">Create A New Team</paper-button>
      </div>
    </blackfynn-heading-panel>

    <blackfynn-member-add-two-factor-window
      id="blackfynnMemberAddTwoFactorWindow"
      member="[[profile]]"
      user="[[user]]"
      api="[[api]]">
    </blackfynn-member-add-two-factor-window>

    <blackfynn-member-remove-two-factor-window
      id="blackfynnMemberRemoveTwoFactorWindow"
      member="[[profile]]"
      user="[[user]]"
      api="[[api]]">
    </blackfynn-member-remove-two-factor-window>

  </template>

  <script>

    Polymer({
      is: 'blackfynn-teams-navigation',

      behaviors: [
        Blackfynn.TwoFactorBehavior
      ],

      properties: {
      },

      listeners: {
        'memberUpdated': '_memberUpdated'
      },

      ajaxError: function(e, detail) {
        this.fire('ajaxError', { status: detail.request.status });
      },

      _toggleCreateNewTeam: function() {
        this.$.blackfynnCreateTeamWindow.$.dialog.toggle();
      },

      _toggleUpdateMember: function() {
        this.$.blackfynnUpdateMemberWindow.$.dialog.toggle();
      },

      _memberUpdated: function(e) {
        this.profile = e.detail;
      }
    });
  </script>

</dom-module>
