<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../shared/bf-dialog/bf-dialog.html">
<link rel="import" href="../shared/bf-input/bf-input.html">
<link rel="import" href="../shared/patched-overlay-behavior.html">
<link rel="import" href="../shared/bf-ajax-behavior.html">
<link rel="import" href="../state/bf-state-aware-behavior.html">
<link rel="import" href="../shared/unique-name-behavior.html">

<link rel="import" href="../../../styles/blackfynn/main.html">

<dom-module id="bf-team-create-window">

  <template>
    <style include="blackfynn-main-styles"></style>
    <style type="text/css">
      :host {
        display: block;
      }
    </style>

    <bf-dialog id="dialog" on-iron-overlay-opened="patchOverlay" opened="{{opened}}" processing="[[processing]]">
      <h2 slot="heading">[[titleText]]</h2>

      <div slot="body">
        <bf-input id="teamName" label="Team name" value="{{name}}" invalid="{{invalid}}" autocapitalize=true required=true autofocus="true" show-invalid>
          <div slot="helper">Team names must be unique</div>
        </bf-input>
      </div>

      <div slot="buttons">
        <paper-button hidden$="[[processing]]" class="save" on-tap="_doSaveTeam" noink>Save</paper-button>
      </div>
    </bf-dialog>

    <iron-ajax
      id="saveTeam"
      method="[[saveMethod]]"
      handle-as="json"
      loading="{{processing}}"
      content-type="application/json"
      url="[[saveTeamUrl]]"
      on-error="ajaxError"
      on-response="_handleTeamSaved"
      debounce-duration="300"></iron-ajax>

    <iron-a11y-keys keys="enter" on-keys-pressed="_doSaveTeam"></iron-a11y-keys>
  </template>

  <script>
    Polymer({
      is: 'bf-team-create-window',

      behaviors: [
        StateAwareBehavior,
        Blackfynn.AjaxBehavior,
        Blackfynn.PatchedOverlayBehavior,
        Blackfynn.UniqueNameBehavior
      ],

      properties: {
        /* title text to be displayed within the dialog window */
        titleText: {
          type: String,
          computed: '_computeTitleText(team.id)'
        },
        /* tracks team object */
        team: {
          type: Object,
          value: function() {
            return {};
          }
        },
        /* name of the team */
        name: {
          type: String
        },
        /* tracks whether form is processing or not */
        processing: {
          type: Boolean,
          value: false
        },
        /* computes api endpoint for save and update */
        saveTeamUrl: {
          type: String,
          computed: '_computeTeamUrl(state.apiUrl, state.userToken, state.activeOrganization.organization.id, team)'
        },
        /* determines method for POST or PUT */
        saveMethod: {
          type: String,
          computed: '_computeMethod(team.id)'
        },
        /* organization object */
        organization: {
          type: Object,
          value: function() {
            return {};
          }
        },
        /* team name is invalid */
        invalid: {
          type: Boolean,
          value: false
        },
      },

      listeners: {
        'dialog.iron-overlay-closed': '_onClose'
      },

      observers: [
        '_watchTeam(team.id, team)'
      ],

      /**
       * performs necessary tasks when dialog is closed
       */
      _watchTeam: function(teamId, team) {
        if (team && team.name) {
          this.set('name', this.team.name);
        }
      },

      /**
       * performs necessary tasks when dialog is closed
       */
      _onClose: function() {
        // Clear inputs
        this.set('name', '');
        this.set('invalid', false);
      },

      /**
       * Builds endpoint for either PUT or POST
       * @param {String} base endpoint
       * @param {String} user token
       * @param {String} organization id
       * @param {String} team object
       */
      _computeTeamUrl: function(api, user, organizationId, team) {
        const id = team && team.id ? `/${team.id}` : '';
        return `${api}/organizations/${organizationId}/teams${id}?api_key=${user}`;
      },

      /**
       * Returns API method based on team id
       * @param {String} team id
       */
      _computeMethod: function(teamId) {
        return Boolean(teamId) ? 'PUT' : 'POST';
      },

      /**
       * Returns title of dialog window method based on team id
       * @param {String} team id
       */
      _computeTitleText: function(teamId) {
        return Boolean(teamId) ? 'Team Settings' : 'Create a Team';
      },

      /**
       * Builds query and saves team
       */
      _doSaveTeam: function() {
        if (!Boolean(this.name)) {
          return;
        }


        // Exclude own name from check so the user can change case of own team
        let exclude = null;
        if(this.team.name) {
          exclude = this.team.name;
        }

        // Check for unique team name
        const isUnique = this.checkUniqueName(this.teams, ['team', 'name'], this.name, exclude);
        if(isUnique === false) {
          this.set('invalid', true);
          return;
        }

        this.set('invalid', false);

        this.set('processing', true);
        this.$.saveTeam.body = { name: this.name };
        this.$.saveTeam.generateRequest();
      },

      /**
       * Handle sucessful AJAX query
       * @param {Object} event object
       * @param {Object} detail response object
       */
      _handleTeamSaved: function(e, detail) {
        this.set('processing', false);

        const teamId = R.prop('id')(this.team);
        const eventName = teamId ? 'update-team-list' : 'add-to-team-list';

        this.fire(eventName, detail.response);

        this.$.dialog.toggle();
      },

    });
  </script>

</dom-module>
