<link rel="import" href="../../../vendor-scripts.html">

<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-spinner/paper-spinner-lite.html">

<link rel="import" href="../../../config/config.html">
<link rel="import" href="../state/bf-state-aware-behavior.html">
<link rel="import" href="../shared/bf-dialog/bf-dialog.html">
<link rel="import" href="../shared/bf-ajax-behavior.html">
<link rel="import" href="../shared/patched-overlay-behavior.html">
<link rel="import" href="../shared/bf-share-item/bf-share-item-node.html">
<link rel="import" href="./team-members-search-input.html">

<link rel="import" href="../../../styles/blackfynn/main.html">
<link rel="import" href="../../../styles/blackfynn/icons.html">

<!--
  For example:

    <bf-team-members-window>
    </bf-team-members-window>

@element bf-team-members-window
@demo demo/index.html
-->

<dom-module id="bf-team-members-window">
  <template>
    <style include="blackfynn-main-styles"></style>
    <style>
      :host #dialog {
        width: 560px;
        font-size: 13px;
      }

      :host #dialog [slot="body"] {
        overflow: hidden;
      }

      :host([focused]) {
        outline: none;
      }

      :host([hidden]) {
        display: none !important;
      }

      p {
        padding: 0px 0 0 30px;
      }

      a {
        color: var(--dopamine);
      }

      ul {
        border-top: 1px solid #ccc;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      .scroll {
        height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
      }

      .shared-with section {
        @apply(--layout-vertical);
        @apply(--layout-center);
        @apply(--layout-center-justified);
        height: 130px;
      }

      .shared-with section div {
        width: 70%;
        text-align: center;
      }

      ul.navigation {
        position: absolute;
        z-index: 999;
        width: 100%;
        height: 350px;
      }

      .search-component {
        padding: 15px;
        background: #eee;
        border-top: 1px solid #ccc;
        border-radius: 0px 0px 4px 4px;
      }

      .helper {
        color: #000;
        font-size: 12px;
        line-height: 14px;
        margin: 5px 0 15px 0;
      }

      bf-share-item-node {
        border-bottom: solid 1px var(--cortex);
      }

      .name {
        color: var(--text-color);
        font-weight: 500;
      }

      .email {
        color: var(--glial);
      }

      .no-team-members {
        border-top: solid 1px var(--cortex);
        padding: 60px 30px;
      }
    </style>

    <!-- POST /organizations/{organizationId}/teams/{id}/members -->
    <iron-ajax
      id="addTeamMembers"
      debounce-duration="300"
      method="POST"
      params="[[ajaxParams]]"
      content-type="application/json"
      url="[[teamMembersApiUrl]]"
      on-error="ajaxError"
      on-response="_handleResponse">
    </iron-ajax>

    <!-- DELETE /organizations/{organizationId}/teams/{teamId}/members/{id} -->
    <iron-ajax
      id="deleteTeamMembers"
      debounce-duration="300"
      method="DELETE"
      params="[[ajaxParams]]"
      content-type="application/json"
      on-error="ajaxError"
      on-response="_handleResponse">
    </iron-ajax>

    <!-- GET /organizations/{organizationId}/teams/{id}/members -->
    <iron-ajax
      id="getTeamMembers"
      params="[[ajaxParams]]"
      url="[[teamMembersApiUrl]]"
      on-response="_handleGetTeamMembersResponse"
      on-error="ajaxError"
      method="GET">
    </iron-ajax>

    <!-- GET /organizations/{id}/members -->
    <iron-ajax
      id="getMembers"
      params="[[ajaxParams]]"
      url="[[membersApiUrl]]"
      last-response="{{members}}"
      on-error="ajaxError"
      on-response="_handleGetMembersResponse"
      method="GET">
    </iron-ajax>

    <bf-dialog id="dialog" class="no-padding" opened="{{opened}}" processing="[[processing]]" on-iron-overlay-opened="patchOverlay">
      <h2 slot="heading">[[team.name]] Team Members</h2>

      <div slot="body">

        <p>Who's on the team already?</p>
        <div hidden$="{{!loading}}">
          <center>
            <paper-spinner-lite active$="{{loading}}"></paper-spinner-lite>
          </center>
        </div>

        <div hidden$="{{loading}}">
          <!-- team members -->
          <div class="shared-with scroll" hidden$="{{_noTeamMembersMessage}}">
            <ul>
              <template
                 is="dom-repeat"
                 items="[[teamMembers]]">
                <bf-share-item-node
                  event-name="remove-team-member"
                  item="[[item]]"
                  link-text="Remove"
                  icon-name="blackfynn:account-circle"
                  class="share-list-item"
                  data-id$="[[item.id]]">
                  <div class="name">[[item.firstName]] [[item.lastName]]</div>
                  <div class="email">[[item.email]]</div>
                </bf-share-item-node>
              </template>
            </ul>
          </div>

          <!-- no team members -->
          <div class="no-team-members" hidden$="[[!_noTeamMembersMessage]]">
            There are no team members on <strong>[[team.name]]</strong>. Please enter
            names or email addresses below to add members.
          </div>

          <!-- share input -->
          <div class="search-component">
            <span>Add people to the <strong>[[team.name]]</strong> team</span>
            <bf-team-members-search-input
              id="teamMembersSearch"
              placeholder-text="Enter names or email addresses"
              candidates="{{members}}"></bf-team-members-search-input>
            <div class="helper">New members will automatically gain access to any datasets shared with this team.</div>
          </div>

        </div>
      </div>
    </bf-dialog>

  </template>

  <script>
    Polymer({
      is: 'bf-team-members-window',

      behaviors: [
        StateAwareBehavior,
        Blackfynn.Config,
        Blackfynn.AjaxBehavior,
        Blackfynn.PatchedOverlayBehavior
      ],

      listeners: {
        'remove-team-member': '_removeTeamMember',
        'iron-overlay-opened': '_fetchData',
        'iron-overlay-closed':  '_onClose',
        'add-team-members': '_addTeamMembers',
      },

      observers: [
        'setMembersAsCollabs(teamMembers.length, members)',
      ],

      properties: {
        /**
         * Default message for no team members
         */
        _noTeamMembersMessage: {
          type: Boolean,
          computed: '_computeNoTeamMembersMessage(loading, teamMembers.length)'
        },

        /**
         * Loading state
         */
        loading: {
          type: Boolean,
          value: false
        },

        /**
         * Built object of parameters to send with AJAX requests
         */
        ajaxParams: {
          type: Object,
          computed: '_buildAjaxParams(state.userToken)'
        },

        /**
         * Members of organization
         */
        members: {
          type: Array,
          value: []
        },

        /**
         * Members of team
         */
        teamMembers: {
          type: Array,
          value: []
        },

        /**
         * Root URL for the members of an organization
         */
        membersApiUrl: {
          type: String,
          computed: '_buildMembersApiUrl(state.apiUrl, state.activeOrganization.organization.id)'
        },

        /**
         * Root URL for the teams of an organization
         */
        teamMembersApiUrl: {
          type: String,
          computed: '_buildTeamMembersApiUrl(state.apiUrl, state.activeOrganization.organization.id, team.id)'
        },
      },

      _computeNoTeamMembersMessage: function(loading, teamMembersLength) {
        return !loading && (!teamMembersLength || teamMembersLength === 0);
      },

      /**
      * Returns ajax api_key key/value pair
      * @param {String} api token
      * @return {String} api_key query param as a string
      */
      _buildAjaxParams: R.assoc('api_key', R.__, {}),

      /**
       * Generates the API endpoint for members of an organization.
       * @param {String} base api endpoint
       * @param {String} organization id
       */
      _buildMembersApiUrl: function(apiUrl, orgId) {
        return `${apiUrl}/organizations/${orgId}/members`;
      },

      /**
       * Generates the API endpoint for teams of an organization.
       * @param {String} base api endpoint
       * @param {String} organization id
       * @param {String} team id
       */
      _buildTeamMembersApiUrl: function(apiUrl, orgId, teamId) {
        return `${apiUrl}/organizations/${orgId}/teams/${teamId}/members`;
      },

      /**
       * Fetches all the data for this view of the Paper dialog, runs
       * when the dialog opens.
       */
      _fetchData: function() {
        this.set('teamMembers', []);
        this.getTeamMembers();
        this._refreshSuggestions();
      },

      /**
       * Refreshes the suggestions list
       */
      _refreshSuggestions: function() {
        this.set('members', []);
        this.getMembers();
      },

      /**
       * Refreshes the entire form (e.g. suggestions and collaborators);
       * more performant to manage in memory, but stricter and safer to
       * to handle it this way. Sharing datasets is not an everyday event.
       */
      _handleResponse: function() {
        this._fetchData();
        this.fire('reload-teams');
      },

      /**
       * Retrieves current members of team
       */
      getTeamMembers: function() {
        this.set('loading', true);
        this.$.getTeamMembers.generateRequest();
      },

      /**
      * Invokes the get members AJAX call
      */
      getMembers: function() {
        this.$.getMembers.generateRequest();
      },

      /**
       * Cleans up the set of members for selection.
       * @param {Object} Event object
       * @param {Object} response object
       */
      _handleGetMembersResponse: function(e, detail) {
        const exclusions = R.defaultTo([], this.teamMembers);

        exclusions.forEach(exclusion => {
          const index = R.findIndex(R.propEq('id', exclusion.id))(this.members);
          if (index >= 0) {
            this.splice('members', index, 1);
          }
        });
      },

      /**
       * Sets team member users property
       * @param {Object} Event object
       * @param {Object} response object
       */
      _handleGetTeamMembersResponse: function(e, detail) {
        this.set('loading', false);
        this.set('teamMembers', detail.response);
      },

      /**
       * Helper function to make ajax request
       * @param {Object} dom node
       * @param {Array} list of user ids
       */
      _makeRequest: function(ajaxRequestElement, ids) {
        ajaxRequestElement.body = R.defaultTo([], ids);
        ajaxRequestElement.generateRequest();
      },

      /**
       * Removes sharing for a user and updates their isCollaborator flag
       * in the members collection to false
       * @param {Object} Event object
       */
      _removeTeamMember: function(e) {
        const userId = R.pathOr('', ['detail', 'item', 'id'], e);
        if (userId.length > 0) {
          this.removeMembersFromTeam(userId);
        }
      },

      /**
        * Collects all user IDs from arrays of user nodes;
        * Accepts Array of node objects or Object of Arrays of node objects
       */
      getNodeIds: R.compose(
        R.pluck('id'),
        R.defaultTo([])
      ),

      /**
       * Passes a team member id to deleteTeamMembers AJAX request;
       * may be an event if passed along and fired as a removeTeamMember event
       * @param {String} team member id
       */
      removeMembersFromTeam: function(id) {
        const deleteTeamMembers = this.$.deleteTeamMembers
        deleteTeamMembers.url = `${this.teamMembersApiUrl}/${id}`;
        deleteTeamMembers.generateRequest();
      },

      /**
       * Excutes xhr call to add member(s) to team
       * @param {Array} ids
       */
      _addTeamMembers: function(e, detail) {
        const ajaxRequest = this.$.addTeamMembers;
        ajaxRequest.body = {ids: detail}; // endpoint supports adding multiples
        ajaxRequest.generateRequest();
      },

      /**
       * Sets an isCollaborator flag on user nodes in the members collection
       * to signify if they are currently a collaborator on this data set
       */
      setMembersAsCollabs: function() {
        const cids = this.getNodeIds(this.teamMembers);
        this.members.forEach(member => member.isCollaborator = cids.indexOf(member.id) >= 0);
      },

      /**
       * Callback when the bf-dialog is closed
       */
      _onClose: function() {
        // Reset the share search
        this.$.teamMembersSearch.reset();
        this.fire('reset-team');
      }

    });
  </script>
</dom-module>
