<script>
  /**
  * @polymerBehavior
  */
  BlackfynnOrganizationSettingsBehavior = {
    properties: {
      _isSelected: {
        type: Boolean,
        value: false
      },
      _shouldLoad: {
        type: Boolean,
        value: false
      }
    },

    observers: [
      '_watchActiveOrganization(activeOrganization)'
    ],

    listeners: {
      'selected': '_onSelected',
      'deselected': '_onDeselected'
    },

    _watchActiveOrganization: function(activeOrganization) {
      this.set('_shouldLoad', true);

      // If the view is currently active, load data
      if(this._isSelected) {
        this.loadData();
      }
    },

    _onSelected: function(e) {
      e.stopPropagation();
      this.set('_isSelected', true);

      // If the data for the active organization haven't been loaded yet, load it
      if(this._shouldLoad) {
        this.loadData();
      }
    },

    _onDeselected: function() {
      this.set('_isSelected', false);
    }

  }
</script>
