<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../../../bower_components/paper-spinner/paper-spinner-lite.html">

<link rel="import" href="../shared/blackfynn-heading-panel.html">
<link rel="import" href="../state/bf-state-aware-behavior.html">

<link rel="import" href="../../../styles/blackfynn/main.html">
<link rel="import" href="../../../styles/blackfynn/settings.html">

<dom-module id="blackfynn-settings-password-reset">

  <template>

    <style include="blackfynn-main-styles"></style>
    <style include="blackfynn-settings-styles"></style>
    <style>
      :host {
        display: block;
        margin-left: 30px;
      }
    </style>

    <div class$="[[componentClass]]">
      <h2>Password</h2>

      <p class="helperText">We'll send you an email containing a link to reset your password.</p>

      <div class="form-button">

        <paper-button
          class="primary"
          noink
          on-tap="resetPassword">Reset Password</paper-button>

        <paper-spinner-lite active$="[[processing]]"></paper-spinner-lite>
      </div>
    </div>

    <iron-ajax
      method="POST"
      id="resetPassword"
      handle-as="json"
      content-type="application/json"
      loading="{{processing}}"
      url="[[passwordResetUrl]]"
      on-response="_handleResetPassword"
      on-error="ajaxError"></iron-ajax>

    <iron-a11y-keys keys="enter" on-keys-pressed="resetPassword"></iron-a11y-keys>
  </template>

  <script>

    Polymer({
      is: 'blackfynn-settings-password-reset',

      behaviors: [
        StateAwareBehavior
      ],

      properties: {
        /**
         * tracks whether or not form is being processed
         */
        processing: {
          type: Boolean,
          value: false
        },
        /**
         * additional classes are required for child components
         */
        _componentClass: {
          type: String,
          value: ''
        },
        /**
         * password reset endpoint
         */
        passwordResetUrl: {
          type: String,
          computed: '_computePasswordResetUrl(state.apiUrl, state.profile.email, state.userToken)'
        },
      },

      /**
       * computes password reset url
       */
      _computePasswordResetUrl(api, email, user) {
        return `${api}/account/${email}/reset?api_key=${user}`;
      },

      /**
       * generates password request via API
       */
      resetPassword: function() {
        this.$.resetPassword.generateRequest();
      },

      /**
       * handle successful password reset
       */
      _handleResetPassword: function(e, detail) {
        this.fire('toast', { type: 'MESSAGE', msg: 'Password reset email sent' });
        this.set('email', '');
        this.async(() => this.fire('logout'), 1500);
      }
    });

  </script>

</dom-module>
