<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/gold-password-input/gold-password-input.html">
<link rel="import" href="../../../../bower_components/gold-password-input/gold-password-input-validator.html">

<link rel="import" href="../shared/blackfynn-heading-panel.html">

<link rel="import" href="../../../styles/blackfynn/main.html">
<link rel="import" href="../../../styles/blackfynn/settings.html">

<dom-module id="blackfynn-settings-password">

  <template>

    <style include="blackfynn-main-styles"></style>
    <style include="blackfynn-settings-styles"></style>
    <style>
      :host {
        display: block;
        margin-bottom: 20px;
      }
    </style>

    <blackfynn-heading-panel elevation="1" heading="Password" padding="true">
      <div class="section pad">
        <gold-password-input-validator pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{\&quot;:;'?/>.<,])(?!.*\s).*$"></gold-password-input-validator>

        <gold-password-input id="oldPassword" label="Old password" value="{{oldPassword}}"
          validator="gold-password-input-validator"
          error-message="Invalid password"
          required="true"
          reveal="false">
          </gold-password-input>

        <gold-password-input id="newPassword" label="New password" value="{{newPassword}}"
          validator="gold-password-input-validator"
          error-message="Invalid password"
          strength-meter auto-validate
          invalid="{{isPasswordInvalid}}"
          required="true"
          reveal="false">
          </gold-password-input>

        <div class="form-button">
          <paper-button class="primary">Update Password</paper-button>
          <a href="/password" class="forgot">Forgot your password?</a>
        </div>
      </div>
    </blackfynn-heading-panel>
  </template>

  <script>

    Polymer({
      is: 'blackfynn-settings-password',

      ready: function() {
        // !! reveal icon needs to be explicitly hidden !!
        // !! shady and shadow doms are doing odd things !!
        // !! this is temporary for this version of polymer !!
        this.$.oldPassword.$.reveal.style.display = 'none';
        this.$.newPassword.$.reveal.style.display = 'none';
      }
    });

  </script>

</dom-module>
