<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">

<link rel="import" href="../shared/bf-input/bf-input.html">
<link rel="import" href="../shared/bf-ajax-behavior.html">
<link rel="import" href="../state/bf-state-aware-behavior.html">

<link rel="import" href="../../../styles/blackfynn/main.html">
<link rel="import" href="../../../styles/blackfynn/settings.html">

<dom-module id="blackfynn-settings-profile">

  <template>
    <style include="blackfynn-main-styles"></style>
    <style include="blackfynn-settings-styles"></style>
    <style>
      :host {
        display: block;
        margin-left: 30px;
      }
      bf-input {
        width: 330px;
      }
      .name-wrap {
        @apply(--layout-horizontal);
      }
      #lastName {
        margin-left: 15px;
      }
      .helperText {
        color: var(--glial);
        margin-top: 8px;
        width: 600px;
      }
    </style>

    <div class$="[[componentClass]]">
      <h2>Your Profile</h2>

      <div class="name-wrap">
        <bf-input
          label="First Name"
          value="{{member.firstName}}"></bf-input>

        <bf-input
          id="lastName"
          label="Last Name"
          value="{{member.lastName}}"></bf-input>
      </div>

      <bf-input
        label="Title"
        value="{{member.credential}}"></bf-input>

      <!-- @TODO: uncomment once API can distinguish error types
      <bf-input
        label="Email"
        value="{{member.email}}">
          <div slot="helper" class="helperText">This is what you use to sign in. We'll also use this for any notifications from the platform.</div>
        </bf-input>
      -->

      <div class="form-button">
        <paper-button
          class="save round"
          noink
          on-tap="_doUpdateMember">Update Profile</paper-button>
        <paper-spinner-lite active$="[[_updatingMember]]"></paper-spinner-lite>
      </div>
    </div>

    <iron-ajax
      id="updateMember"
      method="PUT"
      handle-as="json"
      content-type="application/json"
      loading="{{_updatingMember}}"
      url="[[updateMemberUrl]]"
      body="[[member]]"
      on-error="ajaxError"
      on-response="_handleUpdateMember"
      debounce-duration="300"></iron-ajax>

    <iron-a11y-keys keys="enter" on-keys-pressed="_doUpdateMember"></iron-a11y-keys>

  </template>

  <script>

    Polymer({
      is: 'blackfynn-settings-profile',

      behaviors: [
        StateAwareBehavior,
        Blackfynn.AjaxBehavior,
      ],

      properties: {
        /**
         * tracks when form is submitted to update user
         */
        _updatingMember: {
          type: Boolean,
          value: false
        },
        /**
         * additional classes are required for child components
         */
        _componentClass: {
          type: String,
          value: ''
        },
        /**
         * Compute save member URL
         */
        updateMemberUrl: {
          type: String,
          computed: '_computeUpdateMemberUrl(state.apiUrl, state.userToken)'
        },
        /**
         * Profile Form Object
         */
         member: {
           type: Object,
           computed: '_computeMember(state.profile)'
         },
      },

      /**
       * Computes member object
       */
      _computeMember: function(profile) {
        return profile;
      },

      /**
       * Computes endpoint url
       */
      _computeUpdateMemberUrl: function(api, user) {
        return `${api}/user?api_key=${user}`;
      },

      /**
       * Send AJAX request to update user profile
       */
      _doUpdateMember: function() {
        // Don't send request again if already processing
        if(this._updatingMember) {
          return;
        }

        this.$.updateMember.generateRequest();
      },

      /**
       * Handles successful profile update
       */
      _handleUpdateMember: function(e, detail) {
        this.fire('toast', {type: 'MESSAGE', msg: `Profile updated`});
      }
    });

  </script>

</dom-module>
