<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../shared/blackfynn-heading-panel.html">
<link rel="import" href="../shared/two-factor-behavior.html">
<link rel="import" href="../teams/member-add-two-factor-window.html">
<link rel="import" href="../teams/member-remove-two-factor-window.html">
<link rel="import" href="../state/bf-state-aware-behavior.html">

<link rel="import" href="../../../styles/blackfynn/main.html">
<link rel="import" href="../../../styles/blackfynn/icons.html">
<link rel="import" href="../../../styles/blackfynn/settings.html">

<dom-module id="blackfynn-two-factor-authentication">

  <template>

    <style include="blackfynn-main-styles"></style>
    <style include="blackfynn-settings-styles"></style>
    <style>
      :host {
        display: block;
        margin: 0 0 30px 20px;
      }
      .tfa-enabled {
        color: var(--success-color);
        font-weight: 500;
      }
      .tfa-disabled {
        color: var(--error-color);
        font-weight: 500;
      }
      .label {
        color: var(--glial);
        margin-right: 5px
      }
      .two-factor-wrap {
        border: 1px solid var(--cortex);
        border-radius: 5px;
        box-sizing: border-box;
        display: block;
        font-size: 14px;
        line-height: inherit;
        max-width: 675px;
        padding: 5px 5px 5px 20px;
        width: 100%;
        @apply(--layout-horizontal);
        @apply(--layout-center);
      }

      .two-factor-status-wrap {
        @apply(--layout-flex);
      }

      .icon-lock {
        height: 18px;
        margin-left: 10px;
        width: 14px;
      }
      paper-button {
        margin: 0;
      }
    </style>

    <div class$="[[componentClass]]">
      <h2>Two-Factor Authentication</h2>

      <p class="helperText">Keep your account secure by providing a security code from a trusted
        device each time you sign in. Two-factor authentication requires the free
        <a href="https://authy.com/download/" target="_blank">Authy</a> app for iOS or Android.</p>

      <div class="two-factor-wrap">
        <div class="two-factor-status-wrap">
          <span class="label">Status:</span>

          <template is="dom-if" if="[[state.profile.authyId]]">
            <span class="tfa-enabled">On</span>
            <iron-icon class="icon-lock tfa-enabled" icon="blackfynn:lock"></iron-icon>
          </template>
          <template is="dom-if" if="[[!state.profile.authyId]]">
            <span class="tfa-disabled">Off</span>
            <iron-icon class="icon-lock tfa-disabled" icon="blackfynn:lock-open"></iron-icon>
          </template>
        </div>


        <template is="dom-if" if="[[state.profile.authyId]]">
          <paper-button
            class="primary"
            noink
            on-tap="_toggleDeleteConfirm">Disable</paper-button>
        </template>
        <template is="dom-if" if="[[!state.profile.authyId]]">
          <paper-button
            class="primary"
            noink
            on-tap="_toggleTwoFactor">Enable</paper-button>
          </div>
        </template>
      </div>
    </div>

    <blackfynn-member-add-two-factor-window
      id="blackfynnMemberAddTwoFactorWindow"
      processing="{{processing}}"></blackfynn-member-add-two-factor-window>

    <blackfynn-member-remove-two-factor-window
      id="blackfynnMemberRemoveTwoFactorWindow"
      processing="{{processing}}"></blackfynn-member-remove-two-factor-window>
  </template>

  <script>

    Polymer({
      is: 'blackfynn-two-factor-authentication',

      behaviors: [
        StateAwareBehavior,
        Blackfynn.TwoFactorBehavior,
      ],

      properties: {
        /**
         * additional classes are required for child components
         */
        _componentClass: {
          type: String,
          value: ''
        },
      },

    });

  </script>

</dom-module>
