<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../vendor-scripts.html">
<script>
  window.Blackfynn = window.Blackfynn || {};
  /**
  * @polymerBehavior
  */

  Blackfynn.DataItemBehavior = {
    /**
     * Determines whether or not a package is a data set
     * @param {String} packageType
     * @returns {Boolean}
     */
    _computeIsDataSet: function(packageType) {
      return packageType === 'DataSet' ? true : false;
    },
    /**
    * Determines whether or not a package is a collection
    * @param {String} type
    * @param {Array} nodeTypes
    * @returns {Boolean}
    */
    _computeIsCollection: function(type) {
      return type === 'Collection'
    },
    /**
    * Get object with created date from properties
    * @param {Array}
    * @returns {Object}
    */
    getCreatedDate: R.compose(
      R.defaultTo({}),
      R.find(R.propEq('key', 'created')),
      R.propOr([], 'properties'),
      R.find(R.propEq('category', 'Blackfynn')),
      R.defaultTo([])
    )
  }
</script>
