<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<link rel="import" href="../shared/badge.html">

<link rel="import" href="../../../styles/blackfynn/icons.html">
<link rel="import" href="../../../styles/blackfynn/main.html">

<dom-module id="blackfynn-data-drag-info">

  <template>

    <style type="text/css">
      :host {
        background: var(--neuron);
        color: #eee;
        display: block;
        padding: 7px 10px;
        position: fixed;
        z-index: -1;
        margin-top: 10px;
      }
    </style>

    [[name]]

    <blackfynn-badge value="[[length]]"></blackfynn-badge>

  </template>


  <script>

    Polymer({
      is: 'blackfynn-data-drag-info',
      properties: {
        data: {
          type: Object,
          value: function() { return {}; }
        }
      },
      listeners: {
      },
      attached: function() {
        // console.log(this.yoyo);
      }

    });

  </script>
</dom-module>
