<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<script>
  window.Blackfynn = window.Blackfynn || {};
  /**
  * @polymerBehavior
  */
  Blackfynn.PropertyBehavior = {
    /**
     * Finds the index if the category exists
     * @param {string} category - category name
     * @param {Array} props - properties of the item
     * @return {Number}
     */
    getPropertyIndex: function(category, props) {
      return R.findIndex(R.propEq('category', category))(props);
    }
  }
</script>
