<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../../../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">

<link rel="import" href="property-validation-behavior.html">
<link rel="import" href="property-validator.html">
<link rel="import" href="../shared/bf-overflow/bf-overflow.html">
<link rel="import" href="../shared/bf-tooltip/bf-tooltip.html">

<link rel="import" href="../../../styles/blackfynn/main.html">

<dom-module id="blackfynn-data-property">
  <template>
    <style include="blackfynn-main-styles"></style>
    <style type="text/css">
      :host {
        display: block;
      }
      .key-value-wrap {
        padding: 12px 20px;
        border-bottom: 1px solid var(--cortex);
        @apply(--layout-horizontal);
      }
      .key-value-wrap:hover .icon-delete {
        display: block;
      }
      .key {
        color: var(--glial);
        font-weight: 500;
        margin-right: 10px;
        width: 100px;
        --max-width: 100px;
      }
      .value {
        word-break: break-all;
      }
      .icon-wrap {
        color: #677b8a;
      }
      .value-controls-wrap {
        position: relative;
        @apply(--layout-flex);
      }
      .value-wrap {
        padding-right: 20px;
      }
      .icon-wrap {
        @apply(--layout-horizontal);
        @apply(--layout-end-justified);
      }
      @apply(--layout-end-justified);
      #editMeta {
        background: none;
        border: none;
        display: block;
        font: inherit;
        padding: 0;
        width: 100%;
        --iron-autogrow-textarea: {
          font: inherit;
          padding: 0;
        }
      }
      #editMeta[hidden] {
        display: none;
      }
      #editMeta[invalid] {
        color: var(--error-color);
      }
      .meta-error {
        color: var(--error-color);
        font-size: 12px;
      }
      .icon-delete {
        cursor: pointer;
        height: 13px;
        padding: 2px;
        width: 13px;
        color: var(--glial);
        display: none;
        height: 18px;
        position: absolute;
        right: 0;
        top: 0;
        width: 18px;
      }
      .icon-delete:hover {
        color: var(--app-primary-color);
      }
      .deleting .icon-edit, .deleting .icon-delete {
        display: none
      }
      .delete-spinner {
        --paper-spinner-color: #677b8a;
        vertical-align: middle;
      }
      .meta-btn-wrap {
        padding: 10px 5px;
        @apply(--layout-horizontal);
        @apply(--layout-end-justified);
      }
      .meta-btn-wrap[hidden] {
        display: none;
      }
      .type {
        color: #677b8a;
        font-size: 12px;
        text-transform: capitalize;
      }
    </style>

    <div class$="[[slideInfoClass(isDeleting)]]">
      <div class="key-value-wrap">
        <bf-overflow id="key" class="key" has-overflow="{{hasOverflow}}" gradient>[[meta.key]]</bf-overflow>

        <div class="value-controls-wrap">
          <div class="value-wrap">
            <div class="value" hidden="[[editingType]]" on-tap="doEdit">[[meta.display]]</div>
            <blackfynn-property-validator pattern="[[dataTypePattern.pattern]]"></blackfynn-property-validator>
            <iron-autogrow-textarea id="editMeta" type="text" required="true" value="{{meta.value}}" label="Value" invalid$="[[invalid]]" hidden$="[[!editingType]]" validator="blackfynn-property-validator"></iron-autogrow-textarea>
            <span class="type" hidden="[[!editing]]">[[meta.dataType]]</span>
            <span class="meta-error" hidden$="[[!invalid]]">Invalid format</span>
          </div>

          <iron-icon
            class="icon-delete"
            hidden$="[[meta.fixed]]"
            icon="blackfynn:delete" on-tap="doDelete"></iron-icon>
        </div>

        <bf-tooltip
          for="key"
          manual-mode="[[!hasOverflow]]"
          position="left">[[meta.key]]</bf-tooltip>

      </div>
    </div>

    <iron-a11y-keys target="{{metaTarget}}" keys="enter" on-keys-pressed="saveEditKey"></iron-a11y-keys>

  </template>

  <script>

    Polymer({
      is: 'blackfynn-data-property',
      behaviors: [
        Blackfynn.PropertyValidationBehavior
      ],
      properties: {
        meta: {
          type: Object,
          value: function() {
            return {};
          }
        },
        originalMeta: {
          type: String,
          value: ''
        },
        editing: {
          type: Boolean,
          value: false
        },
        editingType: {
          type: Boolean,
          computed: '_editingType(editing, meta.dataType)'
        },
        viewAll: {
          type: Boolean,
          value: false
        },
        btnShow: {
          type: String,
          value: 'Read more'
        },
        isDeleting: {
          type: Boolean,
          value: false
        },
        invalid: {
          type: Boolean,
          value: false
        },
        metaTarget: {
          type: Object,
          value: function() {
            return this.$.editMeta;
          }
        },
        dataTypePattern: {
          type: Object,
          computed: '_computeDataTypePattern(meta.dataType, dataTypeValidation)'
        },
        /**
         * The key has overflowed content
         */
        hasOverflow: {
          type: Boolean,
          value: false
        },
      },
      listeners: {
        'bf-overflow-tapped': 'openPropertyBox'
      },
      observers: [
        '_metaChanged(meta.value)',
      ],
      slideInfoClass: function(isDeleting) {
        if(isDeleting) {
          return 'slide-info deleting';
        } else {
          return 'slide-info';
        }
      },
      _metaChanged: function(newVal, oldVal) {
        if(this.editing) {
          // Save edit 400 milliseconds after the user is done typing
          this.debounce('metaChanged', function() {
            this.saveEdit(newVal);
          }, 400);
        }
      },
      doDelete: function(e) {
        this.fire('delete', {item: this});
      },
      saveEditKey: function(e, detail) {
        detail.keyboardEvent.preventDefault();

        // Cancel the debouncer and immediately save the field
        this.cancelDebouncer('metaChanged');

        // Start the save process
        this.saveEdit(this.meta.value, true, true);
      },
      doEdit: function(e) {
        if(this.meta.fixed) {
          return;
        }
        // Toggle editing
        this.editing = !this.editing;

        if(this.meta.dataType !== 'date') {
          // Set original meta
          this.originalMeta = this.meta.value;

          // Focus on textarea
          this.$.editMeta.textarea.focus();
        } else {
          this.fire('open-date-dialog', { item: this, editMeta: true });
        }
      },
      saveEdit: function(value, toast = true, stopEdit = false) {
        // Validate the new value
        if(this.meta.dataType !== 'date') {
          const isValid = this.$.editMeta.validate();

          if(!isValid) {
            this.set('invalid', true);
            return false;
          } else {
            this.set('invalid', false);
            // Set new display
            this.set('meta.display', this.meta.value);
          }
        }


        // Send save call to slide viewer
        this.fire('save', {key: this.meta.key, value: this.meta.value, category: this.category, dataType: this.meta.dataType, toast});

        // Stop editing
        if(stopEdit) {
          this.set('editing', false);
        }
      },
      cancelEdit: function() {
        // Disable editing
        this.editing = false;

        // Reset meta to original value
        this.meta.value = this.originalMeta;

        // Save the meta to the old value
        this.saveEdit(this.originalMeta, false);
      },
      showAll: function() {
        // Toggle view all flag
        this.viewAll = !this.viewAll;

        // Change button string
        if(this.viewAll) {
          this.btnShow = 'Hide';
        } else {
          this.btnShow = 'Read more';
        }
      },
      blurMeta: function() {
        this.debounce('blurMeta', function() {
          this.editing = false;
          this.cancelDebouncer('blurMeta');

          // If invalid, reset it
          if(this.invalid) {
            this.cancelEdit();
          }
        }, 200);
      },
      _editingType: function(editing, dataType) {
        if(dataType === 'date' && editing) {
          return false;
        }

        return editing;
      },
      attached: function() {
        // Listen for blur on meta iron-autogrow-textarea
        this.listen(this.$.editMeta, 'blur', 'blurMeta');
      },

      /**
       * Callback for user tap on property overflow icon
       * @param {Event} e
       */
      openPropertyBox: function(e, detail) {
        this.fire('open-property-box', { overflowEvent: detail, item: this.meta });
      }
    });

  </script>

</dom-module>
