<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<script>
  window.Blackfynn = window.Blackfynn || {};
  /**
  * @polymerBehavior
  */
  Blackfynn.PropertyValidationBehavior = {
    properties: {
      dataTypeValidation: {
        type: Object,
        value: {
          double: {
            pattern: '^(\\d*\\.\\d+|\\d+)$',
            allowedPattern: '^(\\d*\\.\\d+|\\d+|\\.)$'
          },
          string: {
            pattern: '.*',
            allowedPattern: '.*'
          },
          integer: {
            pattern: '[0-9]*',
            allowedPattern: '[\\d]'
          }
        }
      }
    },

    _computeDataTypePattern: function(dataType, dataTypeValidation) {
      return dataTypeValidation[dataType];
    }
  }
</script>
