<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input-behavior.html">
<link rel="import" href="../../../../bower_components/iron-form-element-behavior/iron-form-element-behavior.html">
<link rel="import" href="../../../../bower_components/iron-input/iron-input.html">

<link rel="import" href="../../../styles/blackfynn/icons.html">
<dom-module id="blackfynn-data-simple-input">
  <template>
    <style>
      .inputWrapper {
        border: 1px solid red
      }
      .toolbar-btn {
        cursor: pointer;
      }
      div[suffix] {
        height: 24px;
      }
    </style>

    <paper-input-container no-label-float>
      <label>Search your catalog</label>
      <input is="iron-input"
        id="input"
        aria-labelledby$="[[_ariaLabelledBy]]"
        aria-describedby$="[[_ariaDescribedBy]]"
        disabled$="[[disabled]]"
        bind-value="{{value}}"
        invalid="{{invalid}}"
        prevent-invalid-input="[[preventInvalidInput]]"
        allowed-pattern="[[allowedPattern]]"
        validator="[[validator]]"
        type$="[[type]]"
        pattern$="[[pattern]]"
        required$="[[required]]"
        autocomplete$="[[autocomplete]]"
        autofocus$="[[autofocus]]"
        inputmode$="[[inputmode]]"
        minlength$="[[minlength]]"
        maxlength$="[[maxlength]]"
        min$="[[min]]"
        max$="[[max]]"
        step$="[[step]]"
        name$="[[name]]"
        placeholder$="[[placeholder]]"
        readonly$="[[readonly]]"
        list$="[[list]]"
        size$="[[size]]"
        autocapitalize$="[[autocapitalize]]"
        autocorrect$="[[autocorrect]]"
        on-change="_onChange"
        tabindex$="[[tabindex]]"
        autosave$="[[autosave]]"
        results$="[[results]]"
        accept$="[[accept]]"
        multiple$="[[multiple]]">
      <div suffix hidden="[[!searching]]">
        <iron-icon class="toolbar-btn" icon="blackfynn:close" on-click="clearThis"></iron-icon>
      </div>
    </paper-input-container>

  </template>

  <script>
    Polymer({
      is: 'blackfynn-data-simple-input',

      clearThis: function(e, details) {
        this.value = '';
      },

      behaviors: [
        Polymer.IronFormElementBehavior,
        Polymer.PaperInputBehavior
      ]

    });
  </script>
</dom-module>
