<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared/vuex-behavior/vuex-behavior.html">

<script>
  window.Blackfynn = window.Blackfynn || {};

  /**
  * @polymerBehavior
  */
  StaticViewerBehavior = {
    properties: {
      data: {
        type: Object,
        value: function() {
          return {};
        }
      },
      getViewerDataUrl: {
        type: String,
        computed: '_computeGetViewerDataUrl(vuex.config.apiUrl, vuex.userToken, data)'
      },
      getFileUrl: {
        type: String,
        computed: '_computeGetFileUrl(vuex.config.apiUrl, vuex.userToken, data.id, viewerDataId)'
      },
      viewerDataId: {
        type: String,
        value: undefined
      },
      isLoadingViewerData: {
        type: Boolean,
        value: true,
        notify: true
      }
    },

    _computeGetViewerDataUrl: function(api, user, data) {
      return `${api}/packages/${data.id}/view?api_key=${user}`;
    },

    _computeGetFileUrl: function(api, user, id, viewerDataId) {
      return `${api}/packages/${id}/files/${viewerDataId}/presign/?api_key=${user}`;
    },

    _handleGetViewerData: function(e, detail) {
      if (detail.response.length >= 1) {
        this.set('viewerDataId', detail.response[0].content.id);
      }
    }
  }

  /** @polymerBehavior */
  Blackfynn.StaticViewerBehavior = [
    StaticViewerBehavior,
    Blackfynn.VuexBehavior
  ]
</script>
