<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../state/bf-state-aware-behavior.html">
<link rel="import" href="../data/bf-data-item-behavior.html">
<link rel="import" href="../../../styles/blackfynn/icons.html">
<link rel="import" href="../../../styles/blackfynn/main.html">

<link rel="import" href="../../../vendor-scripts.html">

<dom-module id="blackfynn-upload-file-drop-message">

  <template>
    <style include="blackfynn-main-styles"></style>
    <style type="text/css">
      :host {
        background: rgba(46, 41, 78, .15);
        border: 4px dashed #46b74b;
        box-sizing: border-box;
        bottom: 0;
        height: 100vh;
        left: 0;
        opacity: 1;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity .25s ease-out;
        width: 100%;
        z-index: 1000;
        @apply(--layout-horizontal);
        @apply(--layout-center-justified);
        @apply(--layout-end);
      }
      :host([hidden]) {
        opacity: 0;
      }

      iron-icon {
        margin-bottom: -20px;
        --iron-icon-height: 100px;
        --iron-icon-width: 100px;
      }

      .upload-message {
        color: var(--app-primary-color);
        transform: translateY(-10%);
        transition: transform .25s ease-out;
        @apply(--layout-vertical);
        @apply(--layout-center);
      }
      :host([hidden]) .upload-message {
        transform: translateY(100%);
      }

      .upload-message span {
        background: var(--app-primary-color);
        color: white;
        padding: 5px 15px;
      }
    </style>

    <div class="upload-message">
      <iron-icon icon="blackfynn:upload"></iron-icon>
      <span>[[dropMsg]]</span>
    </div>
  </template>


  <script>
    Polymer({
      is: 'blackfynn-upload-file-drop-message',

      behaviors: [
        Blackfynn.DataItemBehavior,
        StateAwareBehavior
      ],

      properties: {
        dropMsg: {
          type: String,
          computed: '_computeDropMsg(state.uploadDestination, state.tempUploadDestination)'
        },
        tempUploadDestination: {
          type: Object
        }
      },

      observers: [
        '_isDragging(dragging, dropMsg)',
        '_watchIsDragging(dragging)'
      ],

      _isDragging: function(dragging, dropMsg) {
        // a11y announcement
        if(dragging) {
          this.fire('iron-announce', {
            text: dropMsg
          }, { bubbles: true });
        }
      },

      _watchIsDragging: function(dragging) {
        if(dragging) {
          this.fire('set-state-path', {
            path: 'tempUploadDestination',
            state: this.curPackage
          })
        }
      },

      _getContentName: R.path(['content', 'name']),

      _computeDropMsg: function(uploadDestination, tempUploadDestination) {

        const data = R.defaultTo(uploadDestination, tempUploadDestination);

        const packageType = R.pathOr('', ['content', 'packageType'], data);
        const valid = this._computeIsCollection(packageType, ['dataset', 'collection']);
        if(valid) {
          const dirName = this._getContentName(data);
          return `Drop files to add to: ${dirName}`;
        }
      }
    });

  </script>

</dom-module>
