<link rel="import" href="../shared/bf-logger/bf-logger-behavior.html">
<link rel="import" href="../state/bf-state-aware-behavior.html">
<link rel="import" href="../../../vendor-scripts.html">

<script>
  /**
  * @polymerBehavior
  */
  BlackfynnUploadBehavior = {
    /* local reference to LoggerBehavior */
    logger: Blackfynn.LoggerBehavior.logger,

    behavior: [
      StateAwareBehavior
    ],

    properties: {
      _dragOver: {
        type: Boolean,
        value: false
      },

      droppedFiles: {
        type: Array,
        value: []
      },

      // tracks if drop target is valid
      _isValidDropTarget: {
        type: Boolean,
        computed: '_computedIsValidDropTarget(routeDataTail.path.length)'
      },
    },

    listeners: {
      dragenter: 'isValidFile',
      dragover: 'isValidFile',
      drop: '_onDrop',
      dragleave: '_onDragLeave',
    },

    /**
     * Computes whether or not drop target is valid
     */
    _computedIsValidDropTarget: function(pathLength) {
      return pathLength > 0 ? true : false;
    },

    isValidFile: function(e) {
      if (e.dataTransfer.types && this._isValidDropTarget) {
        for (let i = 0; i < e.dataTransfer.types.length; i++) {
          if (e.dataTransfer.types[i] === 'Files') {
            e.dataTransfer.dropEffect = 'copy';
            e.preventDefault();
            this._dragOver = true;
            return true;
          }
        }
      }
      this._dragOver = false;
    },

    _onDragLeave: function(e) {
      e.preventDefault();
      this._dragOver = false;
    },

    _isValidType: function(val) {
      const validTypes = ['Collection', 'DataSet'];
      return validTypes.indexOf(val) >= 0;
    },

    _onDrop: function(e) {
      e.preventDefault();

      this.fire('add-to-upload-queue', { dataTransfer: e.dataTransfer });

      const packageType = R.pathOr('dataset', ['tempUploadDestination', 'content', 'packageType'])(this.state);

      if(this.state.tempUploadDestination !== null && this._isValidType(packageType) && !this.state.isUploading) {
        this.fire('set-upload-destination', {
          collection: this.state.tempUploadDestination
        });
      }

      this.fire('set-temp-upload-destination', {
        collection: null
      });

      this._dragOver = false;
    }
  }
</script>
