<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../styles/blackfynn/main.html">
<link rel="import" href="../../../styles/blackfynn/icons.html">

<dom-module id="bf-menu-heading">
  <template>

    <style include="blackfynn-main-styles"></style>
    <style type="text/css">
      :host {
        color: #757575;
        font-weight: bold;
        margin: 5px 0;
        min-height: 30px;
        padding: 0px 16px;
        @apply(--layout-horizontal);
        @apply(--layout-center);
      }
      :host([hidden]){
        display: none;
      }
      :host([border]){
        border-bottom: 1px solid #ebebeb;
        border-top: 1px solid #ebebeb;
      }
      :host([border-bottom]){
        border-bottom: 1px solid #ebebeb;
      }
      :host([border-top]){
        border-top: 1px solid #ebebeb;
      }
    </style>

    <content></content>

  </template>

</dom-module>

<script>

  Polymer({
    is: 'bf-menu-heading'
  });

</script>
