<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-styles/shadow.html">
<link rel="import" href="./vuex-behavior/vuex-behavior.html">

<link rel="import" href="../../../styles/blackfynn/main.html">
<link rel="import" href="../../../styles/blackfynn/icons.html">

<!--
`<bf-viewer-package-title>` renders a package title in viewer components while in split mode
-->

<dom-module id="bf-viewer-package-title">
  <template>
    <style include="blackfynn-main-styles"></style>

    <style type="text/css">
      :host {
        display: block;
        position: relative;
        width: 100%;
        z-index: 10;
      }

      .bf-viewer-package-title {
        background-color: var(--glial);
      }

      :host([is-active]) .bf-viewer-package-title {
        background-color: var(--dopamine);
      }

      .inner {
        box-sizing: border-box;
        color: var(--white-matter);
        padding: 6px 11px 4px;
        position: relative;
        @apply(--layout-center);
        @apply(--layout-horizontal);
      }


      .title {
        flex: 1;
        font-size: 12px;
      }

      .close-package {
        --iron-icon-height: 11px;
        --iron-icon-width: 11px;
        cursor: pointer;
      }
    </style>

    <div class="bf-viewer-package-title">
      <div class="inner">
        <div class="title">{{ title }}</div>
        <iron-icon
          class="close-package"
          icon="blackfynn:close_x"
          on-tap="closeViewer"></iron-icon>
      </div>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'bf-viewer-package-title',

    behaviors: [
      Blackfynn.VuexBehavior
    ],

    properties: {
      /**
       * Package Title
       */
      title: {
        type: String,
        value: 'bf-viewer-package-title',
        reflectToAttribute: true
      },

      /**
      * Is parent viewer active
      */
      isActive: {
        type: Boolean,
        value: false,
        reflectToAttribute: true
      },

      /**
       * Index of current viewer in viewers state
      */
      idx: Number
    },

    /**
     * Close viewer
    */
    closeViewer: function() {
      this.fire('close-viewer', this.idx)
    }

  });
</script>
