<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-styles/shadow.html">

<link rel="import" href="../../../styles/blackfynn/main.html">

<!--
`<blackfynn-menu>` is a container for menu items.
-->

<dom-module id="blackfynn-menu">
  <template>

    <style include="blackfynn-main-styles"></style>
    <style type="text/css">
      :host {
        background-color: white;
        border: 1px solid var(--light-gray);
        border-radius: 2px;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.41);
        min-width: 90px;
        padding: 4px;
        position: relative;
        z-index: 5;
        @apply(--layout-vertical);
      }
      :host([hidden]){
        display: none;
      }
      #arrow {
        right: 34px;
        position: absolute;
        top: -6px;
        @apply(--bf-menu-arrow);
      }
      :host([far-right]) #arrow {
        right: 22px;
      }
      :host([center]) #arrow {
        right: 50%;
      }
      :host([left]) #arrow {
        left: 22px;
      }
      #arrow::before, #arrow::after {
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent var(--white-matter) transparent;
        content: '';
        position: absolute;
        left: 1px;
        top: 2px;
      }
      #arrow::before {
        border-style: solid;
        border-width: 0 6px 6px 6px;
        border-color: transparent transparent var(--light-gray) transparent;
        left: 0;
        top: 0;
      }
      #arrow[bottom] {
        bottom: 0;
        top: auto;
      }
      #arrow[bottom]::before, #arrow[bottom]::after {
        border-width: 5px 5px 0 5px;
        border-color: var(--white-matter) transparent transparent transparent;
      }
      #arrow[bottom]::before {
        border-width: 6px 6px 0 6px;
        border-color: var(--light-gray) transparent transparent transparent;
        top: 0
      }
      #arrow[bottom]::after {
        top: 0
      }
    </style>

    <content></content>
    <div id="arrow" bottom$="[[arrowBottom]]"></div>

  </template>
</dom-module>

<script>
  Polymer({
    is: 'blackfynn-menu',

    properties: {
      /**
       * tracks whether menu is visible or not
       */
      hidden: {
        type: Boolean,
        value: true,
        reflectToAttribute: true
      },
      /**
       * Position of the arrow
       */
      arrowBottom: {
        type: Boolean,
        value: false
      },
      /**
       * tracks whether menu arrow is center aligned
       */
      center: {
        type: Boolean,
        value: false,
        reflectToAttribute: true
      },
      /**
       * tracks whether menu arrow is left aligned
       */
      left: {
        type: Boolean,
        value: false,
        reflectToAttribute: true
      },
    },

    /**
     * focuses menu item
     */
    open: function() {
      const elem = Polymer.dom(this).querySelector('blackfynn-menu-item:not([hidden])');
      this.async(() => elem.focus(), 100);
    },

  });
</script>
