<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-item/paper-item-behavior.html">

<link rel="import" href="../../../styles/blackfynn/main.html">
<link rel="import" href="../../../styles/blackfynn/icons.html">

<dom-module id="blackfynn-menu-item">
  <template>

    <style include="blackfynn-main-styles"></style>
    <style type="text/css">
      :host {
        border-radius: 2px;
        color: var(--glial);
        cursor: pointer;
        padding: 5px;
        @apply(--layout-horizontal);
        @apply(--layout-center);
      }
      :host([hide-icon]){
        min-height: 20px;
      }
      :host([hidden]){
        display: none;
      }
      :host(:hover), :host([focused]) {
        color: #404554;
        background-color: #E2E3E8;
        outline: none;
      }
      iron-icon {
        color: var(--glial);
        margin-right: 10px;
        min-width: 20px;
        --iron-icon-height: 20px;
        --iron-icon-width: 20px;
        @apply(--layout-self-start);
      }
      :host(:hover) iron-icon, :host([focused]) iron-icon {
        color: var(--glial);
      }
      :host(.organization) iron-icon {
        color: var(--white-matter);
      }
      :host(.organization:hover) iron-icon, :host(.organization[focused]) iron-icon {
        color: #E2E3E8;
      }
      :host([disabled]) iron-icon {
        color: var(--dopamine);
      }
      :host([border]){
        border-bottom: 1px solid #ebebeb;
        border-top: 1px solid #ebebeb;
        margin: 5px 0;
      }
      :host([border-bottom]){
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 5px;
      }
      :host([border-top]){
        border-top: 1px solid #ebebeb;
        margin-top: 5px;
      }
    </style>

    <iron-icon
      hidden$="[[hideIcon]]"
      icon="[[icon]]"></iron-icon>

    <content></content>

  </template>

</dom-module>

<script>

  Polymer({

    is: 'blackfynn-menu-item',
    behaviors: [
      Polymer.PaperItemBehavior
    ],
    properties: {
      /**
       * Hide the icon
       */
      hideIcon: {
        type: Boolean,
        value: false
      }
    }
  });

</script>
