<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-material/paper-material.html">

<link rel="import" href="../../../styles/blackfynn/main.html">
<link rel="import" href="../../../styles/blackfynn/browse.html">

<dom-module id="blackfynn-heading-panel">
  <template>
    <style include="blackfynn-main-styles"></style>
    <style include="blackfynn-browse-styles"></style>
    <style type="text/css">
      :host {
        display: block;
        margin-bottom: 20px;
      }
      :host([hidden]){
        display: none;
      }
      :host(:last-of-type){
        margin-bottom: 0;
      }
      :host([secondary]) .data-heading {
        background-color: #c5d0d6;
      }
      :host([tappable]) .data-heading {
        cursor: pointer;
      }
      :host([tappable]) .data-heading:hover {
        background-color: #c5d0d6;
      }
      :host([tappable][secondary]) .data-heading:hover {
        background-color: #d9e0e4;
      }
      paper-material {
        background-color: var(--dendrite);
      }
      .data-heading {
        padding: 15px 0pt 2px 15px;
        background-color: var(--cortex);
      }
      .data-heading h2 {
        font-size: 14px;
      }
      ::content .section.pad{
        padding: 16px;
      }
      ::content .team-action {
        float: right;
        margin-top: -40px;
      }
    </style>

    <paper-material elevation="[[elevation]]">
      <div class="data-heading" hidden="[[!hasHeading]]" on-tap="headingTap">
        <h2>[[heading]]</h2>
        <content select=".actions"></content>
      </div>
      <content></content>
    </paper-material>

  </template>

</dom-module>

<script>

  Polymer({
    is: 'blackfynn-heading-panel',
    properties: {
      elevation: {
        type: String,
        value: '1',
        computed: '_computeElevation(elevation, secondary)'
      },
      secondary: {
        type: Boolean,
        value: false
      },
      heading: {
        type: String
      },
      hasHeading: {
        type: Boolean,
        value: false,
        computed: '_computeHasHeading(heading)'
      }
    },

    _computeHasHeading: function(heading) {
      if(heading) {
        return true;
      }
    },

    _computeElevation: function(elevation, secondary) {
      if(secondary) {
        return '0';
      }

      return elevation;
    },

    headingTap: function(e) {
      this.fire('heading-tap', e.detail, { bubbles: false });
    }
  });

</script>
