<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../vendor-scripts.html">

<script>
  window.Blackfynn = window.Blackfynn || {};

  /**
  * @polymerBehavior
  */
  Blackfynn.GetFilePropertyBehavior = {
    /**
    * Get properties array for given category from list of top level file properties
    * @param {Array} fileProperties
    * @param {String} category
    * @returns {Array}
    */
    getCategoryProperties: function(fileProperties = [], category = 'Blackfynn') {
      const categoryProperties = R.find(R.propEq('category', category), fileProperties)
      return R.propOr([], 'properties', categoryProperties)
    },
   /**
    * Get property object from list of given file properties and specified category
    * @param {Array} properties
    * @param {String} propertyName
    * @param {String} category
    * @returns {Object}
    */
    getFileProperty: function(properties, propertyName, category) {
     const categoryProperties = this.getCategoryProperties(properties, category)
     return R.find(R.propEq('key', propertyName), categoryProperties)
   },

   /**
    * Get property value from list of given file properties and specified category
    * @param {Array} properties
    * @param {String} propertyName
    * @param {String} category
    * @returns {String}
    */
   getFilePropertyVal: function(properties, property, category) {
     const propertyObj = this.getFileProperty(properties, property, category)
     return R.propOr('', 'value', propertyObj)
   }

  }
</script>
