<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<script>
  window.Blackfynn = window.Blackfynn || {};
  /**
  * @polymerBehavior
  */
  Blackfynn.PasswordBehavior = {
    properties: {
      /*
      * Password recommendation text
      */
      pwRecommendation: {
        type: String,
        value: ''
      },
      /*
       * Show / Hide password error icon
      */
      showIcon: {
        type: Boolean,
        value: false
      },
    },

    listeners: {
      'update-password-recommendation': '_updatePasswordRecommendation'
    },

    observers: [
      '_togglePwRecommendation(password)'
    ],

    /**
    * Update the password recommendation text
    */
    _updatePasswordRecommendation: function(e) {
      const { text } = e.detail;
      this.pwRecommendation = text;
    },

    _togglePwRecommendation: function(pw) {
      if (!this.$.password) {
        return
      }

      const pwr = this.$.pwRecommendation;
      const inputContainer = this.$.password.$.bfInputContainer.$.labelAndInputContainer;

      if (pw.length && !pwr.classList.contains('show')) {
        inputContainer.style.zIndex = 1
        inputContainer.style.borderRadius = '5px 5px 0 0';
        pwr.classList.add('show');
      } else if (!pw.length) {
        inputContainer.style.borderRadius = '5px';
        pwr.classList.remove('show');
      }
    },

  }
</script>
