<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-validator-behavior/iron-validator-behavior.html">

<script>
  /* *
  *
  *  http://www.pleacher.com/mp/mlessons/algebra/entropy.html
  *
  *  Password strength is determined with this chart:
  *  < 28 bits = Very Weak; might keep out family members
  *  28 - 35 bits = Weak; should keep out most people, often good for desktop login passwords
  *  36 - 59 bits = Reasonable; fairly secure passwords for network and company passwords
  *  60 - 127 bits = Strong; can be good for guarding financial information
  *  128+ bits = Very Strong; often overkill
  *
  * */
  Polymer({

    is: 'password-validator',

    behaviors: [
      Polymer.IronValidatorBehavior
    ],
    /**
     * @param {string} value
    */
    validate: function(value) {
      const entropy = passwordEntropy(value)
      const threshold = 59
      let text = ''

      // Check length
      if (value.length < 8) {
        text = 'Please add at least 8 characters.'
        this.fire('update-password-recommendation', { text });
        return false;
      }

      // Return if user hits threshold
      if (entropy > threshold) {
        text = 'Strong password!'
        this.fire('update-password-recommendation', { text });
        return true;
      }

      // Check for lower case characters
      if (!hasLower(value)) {
        text = 'Please add lower case characters.'
        this.fire('update-password-recommendation', { text });
        return false;
      }

      // Check for upper case characters
      if (!hasUpper(value)) {
        text = 'Please add upper case characters.'
        this.fire('update-password-recommendation', { text });
        return false;
      }

      // Check for numbers
      if (!hasNumbers(value)) {
        text = 'Please add numbers.'
        this.fire('update-password-recommendation', { text });
        return false;
      }

      // Check for special characters
      if (!hasSpecial(value)) {
        text = 'Please add special characters.'
        this.fire('update-password-recommendation', { text });
        return false;
      }

      // If still below threshold, recommended a longer password
      if (entropy < threshold) {
        text = 'Please add more characters'
        this.fire('update-password-recommendation', { text });
        return false;
      }
    }

  });

  // Entropy Logic

  function hasUpper(str) {
    return /[A-Z]/.test(str)
  }

  function hasLower(str) {
    return /[a-z]/.test(str)
  }

  function hasSpecial(str) {
    return /\W/.test(str) || str.includes('_')
  }

  function hasNumbers(str) {
    return /[0-9]/.test(str)
  }

  const crit = [
    {
      fn: hasUpper,
      weight: 26,
    },
    {
      fn: hasLower,
      weight: 26
    },
    {
      fn: hasSpecial,
      weight: 24
    },
    {
      fn: hasNumbers,
      weight: 10
    }
  ]

  function findKeySpace(str) {
    return crit.reduce((accu, c) => {
      if(c.fn(str)) {
        return accu + c.weight
      } else {
        return accu
      }
    }, 0)
  }

  const lnOf2 = Math.log(2)

  function log2(x) {
    return Math.log(x) / lnOf2
  }

  function passwordEntropy(password) {
    const L = password.length
    const R = findKeySpace(password)
    return log2(Math.pow(R, L))
  }

</script>
