<script>
  window.Blackfynn = window.Blackfynn || {};
  /**
  * @polymerBehavior
  */
  Blackfynn.PluginBehavior = {
    properties: {
      plugins: {
          type: Object,
          value:{}
      }
    },

    addPlugin: function(panel, name, hasRenderer, canvasArr) {
      panel.parent = this;
      panel.canvasArr = canvasArr;
      this.addConstants(panel, this.constants);
      this.set('plugins.' + name, {panel: panel, hasRenderer: hasRenderer, canvasArr: canvasArr});
    },

    render: function(options) {
        // Needs to be overWritten by plugin.
    },

    addConstants: function(panel, constants) {
      const existingKeys = Object.keys(panel.constants);
      const newKeys = Object.keys(constants);

      for (let c in newKeys) {
        if (existingKeys.indexOf(newKeys[c]) <0) {
          panel.constants[newKeys[c]] = constants[newKeys[c]];
        }
      }
    }
  }
</script>
