<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<script>
  window.Blackfynn = window.Blackfynn || {};
  /**
  * @polymerBehavior
  */
  Blackfynn.TwoFactorBehavior = {
    listeners: {
      'twoFactorCreated': '_twoFactorCreated',
      'twoFactorDeleted': '_twoFactorDeleted'
    },

    _toggleTwoFactor: function() {
      this.$.blackfynnMemberAddTwoFactorWindow.$.dialog.toggle();
    },

    _toggleDeleteConfirm: function() {
      this.$.blackfynnMemberRemoveTwoFactorWindow.$.dialog.toggle();
    },

    /**
     * Set state to enabled two factor
     * @param {Object} Event object
     * @param {Object} XHR response
     */
    _twoFactorCreated: function(e, detail) {
      this.fire('set-state-path', { path: 'profile.authyId', state: e.detail.authyId });
      this.fire('toast', {
        type: 'MESSAGE',
        msg: 'Two-factor Authentication successfully added'
      })
    },

    /**
     * Set state to disabled two factor
     */
    _twoFactorDeleted: function() {
      this.fire('set-state-path', { path: 'profile.authyId', state: 0 });

      this.fire('toast', {
        type: 'MESSAGE',
        msg: 'Two-factor Authentication successfully removed'
      })
    }

  }
</script>
