<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-spinner/paper-spinner-lite.html">

<link rel="import" href="../../../styles/blackfynn/main.html">

<dom-module id="blackfynn-viewer-spinner">
  <template>
    <style include="blackfynn-main-styles"></style>
    <style type="text/css">
      :host {
        display: block;
        height: 100%;
        @apply(--layout-horizontal);
        @apply(--layout-center-justified);
        @apply(--layout-center);
      }
      :host([hidden]){
        display: none;
      }
    </style>

    <paper-spinner-lite active$="[[loading]]"></paper-spinner-lite>

  </template>

  <script>
    Polymer({
      is: 'blackfynn-viewer-spinner',

      properties: {
      }

    });
  </script>
</dom-module>
