<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="zoom-control-behavior.html">
<link rel="import" href="bf-input/bf-input.html">

<link rel="import" href="../../../styles/blackfynn/main.html">

<dom-module id="bf-shared-zoom-control-simple">
  <template>
    <style include="blackfynn-main-styles"></style>
    <style type="text/css">
      .wrapper {
        @apply(--layout-horizontal);
        @apply(--layout-start);
        @apply(--layout-start-justified);
      }
      .unit {
        margin-left: 5px;
        @apply(--layout-self-center);
      }
      #inputWrap {
        @apply(--layout-horizontal);
      }
      #valueBox {
        margin: 0;
        @apply(--layout-flex-auto);
        --bf-input-container: {
          border-radius: 3px 0 0 3px;
          font-size: 12px;
          padding: 5px;
        }
        --bf-input-container-input-webkit-spinner: {
          display: none !important;
        }
        --bf-input-container-input: {
          font-size: 12px;
          max-width: none;
          text-overflow: ellipsis;
          width: 60px;
        }
      }
      .range-controls {
        background: #f9f9f9;
        width: 14px;
        @apply(--layout-vertical);
      }
      .range-control {
        border: 1px solid #DADADA;
        border-left: none;
        cursor: pointer;
        width: 14px;
        @apply(--layout-horizontal);
        @apply(--layout-flex);
        @apply(--layout-center-center);
      }
      .range-control:first-child {
        border-radius: 0 3px 0 0;
      }
      .range-control:last-child {
        border-radius: 0 0 3px 0;
        border-top: none;
      }
      .range-control:hover {
        background: #DADADA
      }
      .range-control-icon {
        height: 3px;
        width: 6px;
      }
    </style>

    <div class="wrapper">
      <div id="inputWrap">
        <iron-a11y-keys
          id="a11y"
          target="[[target]]"
          keys="enter"
          on-keys-pressed="_blurinput"></iron-a11y-keys>

        <bf-input
          id="valueBox"
          label="[[label]]"
          value="{{value}}"
          hide-label
          on-focus="_focusControl"
          on-blur="_blurinput">
            <div class="unit" slot="prefix">[[unit]]</div>
        </bf-input>

        <div class="range-controls">
          <div class="range-control" on-tap="durationIncrease">
            <iron-icon
              class="range-control-icon"
              icon="blackfynn:number-input-up"></iron-icon>
          </div>
          <div class="range-control" on-tap="durationDecrease">
            <iron-icon
              class="range-control-icon"
              icon="blackfynn:number-input-down"></iron-icon>
          </div>
        </div>
      </div>
    </div>

    </template>

  <script>
    Polymer({
      is: 'bf-shared-zoom-control-simple',
      behaviors: [
        Blackfynn.SharedZoomControl
      ],

      /**
      * Decrease duration
      */
      durationDecrease: function() {
        this.fire('decrease-duration');
      },

      /**
      * Increase duration
      */
      durationIncrease: function() {
        this.fire('increase-duration');
      }
    });
  </script>
</dom-module>
