<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">

<link rel="import" href="zoom-control-behavior.html">

<link rel="import" href="../../../styles/blackfynn/icons.html">
<link rel="import" href="../../../styles/blackfynn/main.html">

<dom-module id="blackfynn-shared-zoom-control">
  <template>
    <style include="blackfynn-main-styles"></style>
    <style type="text/css">
        .wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            /*margin-right: 20px;*/
        }
        paper-input {
            /*max-width: 140px;*/
            color: #737373;
            --paper-input-container-color: #3c54a4;
            --paper-input-container-focus-color: #3c54a4;
            --paper-input-container-input-color:#555;
        }

        .btn {
            cursor: pointer;
            width: 26px;
            padding: 0;
            /*margin-left:5px;*/
        }
        .btn[hidden] {
            display: none;
        }
        .cont {
            color: #3c54a4;
            display: flex;
            flex-direction: row;

        }
        .cont[prefix]{
            margin-right: 5px;

        }
        .unit {
            align-self:center;
            margin-left:5px;
        }

    </style>

    <div class="wrapper">
        <div id="inputWrap" style$="{{calcStyle}}">
            <iron-a11y-keys id="a11y" target="[[target]]" keys="enter"
                            on-keys-pressed="_blurinput"></iron-a11y-keys>
            <paper-input no-label-float id="valueBox" label="[[label]]" value="{{value}}" on-focus="_focusControl" on-blur="_blurinput" >
                <template is="dom-if" if="[[icon3]]">
                    <div class="cont" prefix><iron-icon icon="[[icon3]]" ></iron-icon></div>
                </template>
                <div class="cont" suffix>

                    <div><iron-icon class="btn" icon="[[icon1]]" hidden="[[hideIcon1]]" on-tap="_onClick1" /></div>
                    <div><iron-icon class="btn" icon="[[icon2]]" hidden="[[hideIcon2]]" on-tap="_onClick2" /></div>

                </div>
            </paper-input>


        </div>
        <div class="unit">[[unit]]</div>
    </div>

    </template>

  <script>
    Polymer({
      is: 'blackfynn-shared-zoom-control',
      behaviors: [
        Blackfynn.SharedZoomControl
      ]
    });
  </script>
</dom-module>
