<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../../../bower_components/paper-item/paper-icon-item.html">

<link rel="import" href="../shared/blackfynn-menu.html">
<link rel="import" href="../shared/blackfynn-menu-item.html">
<link rel="import" href="../shared/bf-menu-heading.html">
<link rel="import" href="../state/bf-state-aware-behavior.html">
<link rel="import" href="../../../vendor-scripts.html">

<link rel="import" href="../../../styles/blackfynn/main.html">
<link rel="import" href="../../../styles/blackfynn/icons.html">


<dom-module id="blackfynn-user-menu-window">

  <template>
    <style include="blackfynn-main-styles"></style>
    <style type="text/css">
      :host {
        bottom: -10px;
        color: #000;
        display: block;
        left: -252px;
        width: 250px;
        position: absolute;
        text-align: left;
        transform: translateY(100%);
        --arrow-left: auto;
        --arrow-right: 20px;
        --arrow-border-left: auto;
        --arrow-border-right: 19px;
        --bf-menu-arrow: {
          right: 22px;
        }
      }
      :host([offscreen]) {
        left: auto;
        bottom: -11px;
        right: 0;
      }
      :root {
        --paper-item-icon-width: 36px;
        --paper-item-icon: {
          color: var(--blackfynn-blue);
        }
      }
      a {
        color: inherit;
        text-decoration: none;
      }
      h3 {
        font-size: 15px;
        margin-bottom: 5px;
      }
      paper-card {
        width: 200px;
      }
      paper-icon-item:hover {
        background-color: var(--paper-grey-200);
        cursor: pointer;
      }
    </style>


    <blackfynn-menu hidden$="[[!opened]]">
      <a href="[[_settingsUrl]]" tabindex="-1" on-tap="closeWindow">
        <blackfynn-menu-item icon="blackfynn:settings">Settings</blackfynn-menu-item>
      </a>

      <template is="dom-if" if="[[_multipleOrganizations]]" id="multiOrg">
        <bf-menu-heading border-top>Organizations</bf-menu-heading>

        <template is="dom-repeat" items="[[state.organizations]]" id="orgList">
          <template is="dom-if" if="[[isActiveOrg(state.activeOrganization.organization.id, item.organization.id)]]">
              <blackfynn-menu-item class="organization" icon="blackfynn:account-multiple" disabled>[[item.organization.name]]</blackfynn-menu-item>
          </template>
          <template is="dom-if" if="[[!isActiveOrg(state.activeOrganization.organization.id, item.organization.id)]]">
            <a href="#" tabindex="-1" on-tap="closeWindow">
              <blackfynn-menu-item class="organization" icon="blackfynn:account-multiple" on-tap="switchOrganization">[[item.organization.name]]</blackfynn-menu-item>
            </a>
          </template>
        </template>

      </template>

      <a href="#" tabindex="-1" on-tap="closeWindow">
        <blackfynn-menu-item border-top$="[[_multipleOrganizations]]" icon="blackfynn:exit-to-app" on-tap="_logout">Logout</blackfynn-menu-item>
      </a>
    </blackfynn-menu>

  </template>


  <script>
    Polymer({
      is: 'blackfynn-user-menu-window',

      behaviors: [
        StateAwareBehavior,
        Polymer.IronOverlayBehavior
      ],

      properties: {
        /**
         * tracks whether or not window appears offscreen
         */
        offscreen: {
          type: Boolean,
          value: false,
          reflectToAttribute: true
        },
        /**
         * tracks whether or not user belongs to multiple organizations
         */
        _multipleOrganizations: {
          type: Boolean,
          computed: '_computemultipleOrganizations(state.organizations.length)'
        },
        /**
         * settings route url
         */
        _settingsUrl: {
          type: String,
          computed: '_computeSettingsUrl(state.*)'
        },
      },

      listeners: {
        'iron-overlay-opened': 'positionWindow'
      },

      /**
       * computes settings route url
       * @param {String} activeOrganizationId
       * @return {String}
       */
      _computeSettingsUrl: function(state) {
        const activeOrganizationId = R.path(['base', 'activeOrganization', 'organization', 'id'], state);
        const routeDataPath = R.pathOr('', ['base', 'route', 'path'], state)
        const splitData = routeDataPath.split('/')
        const pathOrgId = R.pathOr('', [1], splitData)
        const orgId = R.defaultTo(pathOrgId, activeOrganizationId);
        return `/${orgId}/settings/profile`;
      },

      /**
       * computes whether or not user belongs to multiple organizations
       * @param {Array} organizations
       * @return {Boolean}
       */
      _computemultipleOrganizations: function(organizations) {
        return organizations > 1;
      },

      /**
       * dynamically sets offscreen property based on window position
       */
      positionWindow: function() {
        // Reposition the window if needed
        const width = this.getBoundingClientRect().width;
        const widthParent = this.positionTarget.getBoundingClientRect().width;
        if(width > widthParent) {
          this.set('offscreen', true);
        } else {
          this.set('offscreen', false);
        }
      },

      /**
       * logs user out
       */
      _logout: function() {
        this.fire('logout');
      },

      /**
       * closes user menu
       */
      closeWindow: function() {
        this.close();
      },

      /**
       * switches user's active organization
       * @param {Object} e
       * @param {Object} detail
       */
      switchOrganization: function(e, detail) {
        const organization = R.pathOr({}, ['model', 'item', 'organization'])(e)
        const isOrgSetup = R.pathOr(false, ['subscriptionState', 'date'])(organization)

        if (isOrgSetup) {
          this.fire('switch-organization', {
            organization: e.model.item
          });
        } else {
          window.history.pushState({}, null, `/${organization.id}/welcome/organization`);
          this.fire('location-changed')
        }
      },

      /**
       * Checks if active organization is current organization
       * @param {String} activeOrgId
       * @param {String} orgId
       */
      isActiveOrg: function(activeOrgId, orgId) {
        return activeOrgId === orgId;
      },

    });

  </script>

</dom-module>
