<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<link rel="import" href="../shared/bf-avatar/bf-avatar.html">
<link rel="import" href="../state/bf-state-aware-behavior.html">
<link rel="import" href="user-menu-window.html">

<link rel="import" href="../../../styles/blackfynn/main.html">
<link rel="import" href="../../../styles/blackfynn/aux-menu.html">

<dom-module id="blackfynn-user-menu">

  <template>
    <style include="blackfynn-main-styles"></style>
    <style include="blackfynn-aux-menu-styles"></style>
    <style>
      :host {
        position: relative;
      }
      :host(:focus) {
        color: #c7c7c7;
        outline: none;
      }
      .name[loading] {
        background: white;
        display: inline-block;
        height: 20px;
        opacity: .2;
        min-width: 150px;
      }
      bf-avatar {
        cursor: pointer;
      }
    </style>

    <bf-avatar
      profile="[[state.profile]]"
      on-tap="toggleMenu"
      uploader-hidden$="{{!isHidden}}"
      opened$="[[isOpen]]"></bf-avatar>

    <blackfynn-user-menu-window
      id="userWindow"
      opened="{{isOpen}}"></blackfynn-user-menu-window>

  </template>

  <script>

    Polymer({
      is: 'blackfynn-user-menu',

      behaviors: [
        StateAwareBehavior,
      ],

      properties: {
        profileLoaded: {
          type: Boolean,
          value: false
        }
      },

      observers: [
        'watchProfile(state.profile.email)'
      ],
      watchProfile: function(email) {
        if(email) {
          this.set('profileLoaded', true);
        }
      },

      toggleMenu: function() {
        this.$.userWindow.toggle();
      }

    });

  </script>

</dom-module>
