<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/paper-spinner/paper-spinner-lite.html">

<link rel="import" href="../../components/blackfynn/state/bf-state-aware-behavior.html">
<link rel="import" href="../../components/blackfynn/shared/bf-ajax-behavior.html">
<link rel="import" href="../../components/blackfynn/shared/bf-input/bf-input.html">
<link rel="import" href="../../components/blackfynn/shared/vuex-behavior/vuex-behavior.html">

<link rel="import" href="../../styles/blackfynn/main.html">
<link rel="import" href="../../styles/blackfynn/login.html">
<link rel="import" href="../../styles/blackfynn/grid.html">

<dom-module id="bf-onboarding-organization">

  <template>
    <style include="blackfynn-main-styles"></style>
    <style include="blackfynn-login-styles"></style>
    <style include="bf-grid-styles"></style>

    <style>
      :host {
        background: var(--white-matter);
        display: block;
        color: var(--glial);
        min-height: 100vh;
      }
      .container {
        margin: 0 auto;
        max-width: 560px;
        padding-bottom: 20px;
        padding-top: 130px;
        text-align: center;
      }
      .agreement-wrap {
        border: 1px solid var(--cortex);
        color: #000;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 20px;
        width: 550px;
        height: 300px;
        overflow-y: scroll;
        text-align: left;
      }
      .agreement-wrap h3 {
        font-size: 18px;
        font-weight: 700;
      }

      .agreement-wrap p:last-of-type {
        margin-bottom: 0;
      }

      paper-button {
        margin: 0 10px;
        min-width: 160px;
      }
      #terms p {
        margin: 0 0 20px;
      }

      .input-section {
        margin-bottom: 24px;
      }

      #confirmation {
        display: inline-block;
        cursor: pointer;
        margin-bottom: 0;
        height: 14px;
        width: 14px;
      }

      #customTerms {
        padding: 24px;
      }
    </style>

    <div class="container">

      <h2 class="sharp-sans">Terms of Service</h2>
      <p>{{ description }}</p>

      <template is="dom-if" if="[[!hasCustomTerms]]">
        <iframe class="agreement-wrap" src="[[getTermsUrl]]"></iframe>
      </template>

      <template is="dom-if" if="[[hasCustomTerms]]">
        <div id="customTerms" class="agreement-wrap"></div>
      </template>

      <div class="row input-section">
        <div class="col-md-12">
          <!-- TODO: Add input wrapper for styling purposes -->
          <input
            id="confirmation"
            type="checkbox"
            required
            on-change="onCheckboxClick"
          />
          <label for="confirmation">
              I accept the <a href="https://docs.pennsieve.io/page/pennsieve-terms-of-use" target="_blank">Terms of Service</a> and <a href="https://docs.pennsieve.io/page/privacy-policy" target="_blank">Privacy Policy</a>
          </label>
        </div>
      </div>


      <paper-button
        class="save"
        noink
        hidden$="[[isLoading]]"
        disabled$="[[!canUserSubmit]]"
        on-tap="accept">Accept &amp; Continue</paper-button>

      <paper-button
        noink
        hidden$="[[isLoading]]"
        on-tap="decline">Decline &amp; Sign Out</paper-button>

      <paper-spinner-lite
        active$="[[isLoading]]"
        hidden$="[[!isLoading]]"></paper-spinner-lite>

    </div>

    <iron-ajax
      id="acceptAgreement"
      method="PUT"
      handle-as="json"
      loading="{{processing}}"
      content-type="application/json"
      url="[[acceptAgreementUrl]]"
      on-error="ajaxError"
      on-response="_onAcceptAgreement"></iron-ajax>


  </template>

  <script>

    Polymer({
      is: 'bf-onboarding-organization',

      behaviors: [
        Blackfynn.AjaxBehavior,
        Blackfynn.VuexBehavior
      ],

      properties: {
        /**
         * API url
         */
        apiUrl: {
          type: String,
          value: ''
        },
        /**
         * User token
        */
        userToken: {
          type: String,
          value: ''
        },
        /**
         * Compute accept agreement URL based off active organization ID
         */
        acceptAgreementUrl: {
          type: String,
          computed: '_computeAcceptAgreementUrl(vuex.config.apiUrl, hasCustomTerms, vuex.userToken)'
        },
        /*
         * Accept agreement iron-ajax is loading
         */
        processing: {
          type: Boolean,
          value: false
        },
        /*
         * GET subscription terms iron-ajax is loading
         */
        loadingTerms: {
          type: Boolean,
          value: false
        },
        /*
         * Compute if the terms are loading or if the user accepted subscription is processing
         */
        isLoading: {
          type: Boolean,
          computed: '_computeIsLoading(processing, loadingTerms)'
        },
        /*
         * Organization custom terms version
         */
         customTermsVersion: {
          type: Boolean,
          computed: '_computeCustomTermsVersion(vuex.activeOrganization.organization)'
        },
        /*
         * Organization has custom terms
         */
        hasCustomTerms: {
          type: Boolean,
          computed: '_computeHasCustomTerms(vuex.activeOrganization.organization)'
        },
        /*
         * Get the terms based off the organiation ID
         */
        getTermsUrl: {
          type: String,
          computed: '_computeGetTermsUrl(vuex.activeOrganization.organization.id)'
        },
        /*
         * Error retrieving terms
         */
        loadingTermsError: {
          type: Boolean,
          value: false
        },
        /*
        * Owner name for Accept TSA Section
        */
        ownerName: {
          type: String
        },
        /*
        * Organization name for Accept TSA Section
        */
        ownerOrg: {
          type: String
        },
        /*
        * User can submit the TSA form
        */
        canUserSubmit: {
          type: Boolean,
          value: false
        },
        /*
         * Compute active org name
         */
         orgName: {
          type: String,
          computed: '_computeOrgName(vuex.activeOrganization.organization)'
        },
        /*
         * Compute description
         */
         description: {
          type: String,
          computed: '_computeDescription(orgName)'
        },
        /*
        * Compute custom terms url
        */
        customTermsUrl: {
          type: String,
          computed: '_computeCustomTermsUrl(vuex.activeOrganization.organization, hasCustomTerms)'
        }
      },

      observers: [
        '_watchCustomTermsUrl(customTermsUrl)'
      ],

      /**
       * Compute accept agreement URL based off of custom terms state
       * @param {String} apiUrl
       * @param {Boolean} hasCustomTerms
       * @param {String} userToken
       * @returns {String}
       */
      _computeAcceptAgreementUrl: function(apiUrl, hasCustomTerms, userToken) {
        if (hasCustomTerms) {
          return `${apiUrl}/user/custom-terms-of-service?api_key=${userToken}`
        }
        return `${apiUrl}/user/blackfynn-terms-of-service?api_key=${userToken}`
      },

      /**
       * Compute get subscription terms URL
       * @param {String} organizationId
       */
      _computeGetTermsUrl: function(organizationId) {
        return 'https://app.pennsieve.io/static/files/tos.html';
      },

      /**
       * Compute if the terms are loading or if the user accepted subscription is processing
       * @param {Boolean} processing
       * @param {Boolean} loadingTerms
       */
      _computeIsLoading: function(processing, loadingTerms) {
        return processing || loadingTerms;
      },

      /**
       * Handle checkbox click event
       * @param {Object} e
       */
      onCheckboxClick: function(e) {
        this.canUserSubmit = e.target.checked
      },

      /**
       * User accepts subscription agreement
       */
      accept: function() {
        const acceptAgreement = this.$.acceptAgreement;
        let version = this.vuex.bfTermsOfServiceVersion

        if (this.hasCustomTerms) {
          version =  R.path(['activeOrganization', 'organization', 'customTermsOfService', 'version'], this.vuex);
        }

        acceptAgreement.body = { version };
        acceptAgreement.generateRequest();
      },

      /**
       * User declines subscription agreement and gets logged out
       */
      decline: function() {
        this.fire('logout');
      },

      /**
       * Accept agreement response
       * @param {Object} e - Event object
       * @param {Object} detail - xhr response
       */
      _onAcceptAgreement: function(e, detail) {
        // Don't allow user to submit if there was an error
        if (this.loadingTermsError) {
          return;
        }

        const orgId = R.pathOr('', ['activeOrganization', 'organization', 'id'], this.vuex)
        const isOwner = R.pathOr(false, ['activeOrganization', 'isOwner'], this.vuex)
        const onboardingEvents = R.propOr([], 'onboardingEvents', this.vuex)
        const isFirstTimeSignOn = Boolean(onboardingEvents.length === 1)

        this.fire('update-profile', { profile: detail.response })

        if (isOwner && isFirstTimeSignOn) {
          this.fire('set-vue-route', { name: 'welcome', params: { page: 'invite-people' } })
        } else {
          this.fire('set-default-route', { orgId })
        }
      },

      /**
       * GET Subscription terms error
       * @param {Object} e - Event object
       * @param {Object} detail - xhr response
       */
      _onSubscriptionTermsError: function(e, detail) {
        this.set('hasCustomTerms', false);
        this.set('loadingTermsError', true);
      },

      /**
       * GET Subscription terms error
       * @param {Object} e - Event object
       * @param {Object} detail - xhr response
       */
      _onSubscriptionTerms: function(e, detail) {
        this.$.terms.innerHTML = detail.response;
        this.set('loadingTermsError', false);
      },

      /**
       * Compute active org name
       * @param {Object} activeOrganization
       * @returns {String}
       */
      _computeOrgName: function(activeOrganization) {
        return R.propOr('', 'name', activeOrganization)
      },

      /**
       * Compute description
       * @param {String} activeOrgName
       * @returns {String}
       */
       _computeDescription: function(activeOrgName) {
         const orgName = this.hasCustomTerms ? activeOrgName : 'Blackfynn'
         return `You must read and accept the ${orgName} Terms of Use before you continue.`
      },

      /**
       * Compute custom terms version for active org
       * @param {Object} activeOrganization
       * @returns {String}
       */
      _computeCustomTermsVersion: function(activeOrganization) {
        return R.pathOr('', ['customTermsOfService', 'version'], activeOrganization)
      },

      /**
       * Compute if organization has custom terms
       * @param {Object} activeOrganization
       * @returns {Boolean}
       */
      _computeHasCustomTerms: function(activeOrganization) {
        return Boolean(R.pathOr('', ['customTermsOfService', 'version'], activeOrganization))
      },

      /**
      * Compute custom terms url
      * @param {Object} activeOrganization
      * @param {Boolean} hasCustomTerms
      * @returns {String}
      */
      _computeCustomTermsUrl: function(activeOrganization, hasCustomTerms) {
        if (hasCustomTerms) {
          return `${this.vuex.config.apiUrl}/organizations/${activeOrganization.id}/custom-terms-of-service`
        }

        return ''
      },

      /**
       * Watch custom term url and update iframe src
       * @param {String} customTermsUrl
       */
      _watchCustomTermsUrl: function(customTermsUrl) {
        if (customTermsUrl) {
          const url = `${customTermsUrl}?api_key=${this.vuex.userToken}`
          fetch(url, {
            headers: {
              'Content-Type': 'text/html'
            }
          })
          .then(response => response.text())
          .then(html => {
            const el = this.$$('#customTerms')
            if (html && el) {
              el.innerHTML = striptags(html, ['div', 'p', 'a', 'strong'])
            }
          })
          .catch(err => console.error(err))
        }
      }
    });

  </script>

</dom-module>
