<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../../bower_components/paper-spinner/paper-spinner-lite.html">

<link rel="import" href="../../components/blackfynn/shared/bf-input/bf-input.html">
<link rel="import" href="../../config/config.html">
<link rel="import" href="../../vendor-scripts.html">
<link rel="import" href="../../components/blackfynn/shared/bf-ajax-behavior.html">
<link rel="import" href="../../components/blackfynn/shared/password-validator.html">
<link rel="import" href="../../components/blackfynn/shared/password-behavior.html">
<link rel="import" href="../../components/blackfynn/shared/vuex-behavior/vuex-behavior.html">

<link rel="import" href="../../styles/blackfynn/main.html">
<link rel="import" href="../../styles/blackfynn/login.html">
<link rel="import" href="../../styles/blackfynn/password.html">

<dom-module id="bf-setup-profile">

  <template>
    <style include="blackfynn-main-styles"></style>
    <style include="blackfynn-login-styles"></style>
    <style include="blackfynn-password-styles"></style>
    <style>
      :host {
        background: var(--neuron);
        display: block;
      }

      #form {
        margin-bottom: 30px
      }
      paper-button {
        margin-top: 10px;
      }
      .agreement {
        font-size: 13px;
        margin: 0;
      }
      a {
        color: var(--glial);
      }
      a:hover {
        color: var(--app-primary-color);
      }
    </style>

    <div class="wrapper">
      <div class="login-wrap">
        <h2 class="sharp-sans">Let’s set up your profile.</h2>
        <p>Complete your profile so members of your team can easily idenitfy you. <strong>All fields are required</strong>.</p>

        <form
          id="form"
          is="iron-form"
          action="[[createUserUrl]]"
          content-type="application/json"
          method="post"
          on-iron-form-response="onCreateUser"
          on-iron-form-error="onFailedUserCreation">
          <bf-input
            label="First Name"
            name="firstName"
            required
            value="{{firstName}}"></bf-input>

          <bf-input
            label="Last Name"
            name="lastName"
            required
            value="{{lastName}}"></bf-input>

          <bf-input
            label="Job Title"
            name="title"
            required
            value="{{title}}"></bf-input>

          <password-validator></password-validator>

          <bf-input
            id="password"
            label="Password"
            name="password"
            type="password"
            auto-validate
            show-icon="{{showIcon}}"
            validator="password-validator"
            required
            value="{{password}}">
              <div id="pwRecommendation" slot="password-recommendation">
                <p class="pw-recommendation-text">{{pwRecommendation}}</p>
              </div>
              <div class="helper" slot="helper">
                We recommend that you create a password that is more than 8 characters long and contains a combination of uppercase & lowercase characters, numbers and symbols.
              </div>
            </bf-input>

          <bf-input
            id="passwordConfirm"
            label="Retype Your Password"
            type="password"
            required
            value="{{passwordConfirm}}">
          </bf-input>

          <input
            type="hidden"
            name="token"
            value="[[token]]">

          <paper-button
            class="light"
            hidden$="[[processing]]"
            noink
            on-tap="submitForm">Save profile</paper-button>

          <paper-spinner-lite
            active$="[[processing]]"
            hidden$="[[!processing]]"></paper-spinner-lite>

        </form>
        <p class="agreement">By clicking “Save Profile” you are agreeing to the Blackfynn <a href="https://www.blackfynn.com/terms" target="_blank">Terms of Use</a> and <a href="https://www.blackfynn.com/privacy" target="_blank" >Privacy Policy</a>.</p>
      </div>
    </div>

    <iron-a11y-keys
      target="[[form]]"
      keys="enter"
      on-keys-pressed="submitForm"></iron-a11y-keys>
  </template>

  <script>

    Polymer({
      is: 'bf-setup-profile',

      behaviors: [
        Blackfynn.Config,
        Blackfynn.AjaxBehavior,
        Blackfynn.PasswordBehavior,
        Blackfynn.VuexBehavior
      ],

      properties: {
        /**
        * API url
        */
        apiUrl: {
          type: String,
          value: ''
        },
        /*
         * Password for user
         */
        password: {
          type: String
        },
        /*
         * Confirmed password for user
         */
        passwordConfirm: {
          type: String
        },
        /*
        * Password recommendation text
        */
        pwRecommendation: {
          type: String,
          value: ''
        },
        /*
         * Compute the endpoint URL for creating the user
         */
        createUserUrl: {
          type: String,
          computed: '_computeCreateUserUrl(apiUrl)'
        },
        /*
         * User creation form, used for iron-a11y-keys
         */
        form: {
          type: Element,
          value: function() {
            return this.$.form;
          }
        },
        /**
         * User Token
         */
        token: {
          type: String,
          value: ''
        },
        /*
         * Setup profile form is processing
         */
        processing: {
          type: Boolean,
          value: false
        },
        /**
         * Active Org Id
        */
        activeOrganizationId: {
          type: String,
          value: ''
        }
      },

      /*
       * Compute the endpoint URL for creating the user
       */
      _computeCreateUserUrl: function(apiUrl) {
        return `${apiUrl}/account/`;
      },

      /*
       * Submit the form to create the user
       */
      submitForm: function() {
        const form = this.$.form;
        const isValid = form.validate();

        // Validate the form
        if(!isValid) {
          return;
        }

        // Check if the passwords match
        if(this.password !== this.passwordConfirm) {
          this.$.passwordConfirm.invalid = true;
          return;
        }

        this.set('processing', true);

        // Submit the form
        form.submit();
      },

      onFailedUserCreation: function(e, detail) {
        this.set('processing', false);
        const err = R.pathOr('', ['error', 'message'], detail);
        const msg = err.indexOf('400') >= 0 ?
          'Sorry, but your token has expired. Please request a new invitation.' :
          'Could not create a user with that username and password. Try adding more letters, numbers and punctuation.';
          this.fire('toast', {type: 'MESSAGE', msg});
      },

      /*
       * Callback from submitting the form
       */
      onCreateUser: function(e, detail) {
        this.set('processing', false);

        let loginBody = {
          token: detail.response.sessionId,
          profile: detail.response.profile,
          firstTimeSignOn: true
        }

        const orgId = this.activeOrganizationId
        const switchOrgUrl = `${this.vuex.config.apiUrl}/user/organization/${orgId}/switch?api_key=${loginBody.token}`

        fetch(switchOrgUrl, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(resp => resp.json())
        .then(data => {
          this.fire('login', loginBody);
        })
        .catch(err => console.error(err))
      }
    });

  </script>

</dom-module>
