.bb svg {
  font-family: $system-font
}
.bb-xgrid {
  stroke-dasharray: 0;
}
.bb text {
  fill: #9B9B9B;
  font-size: 11px;
}
.bb .bb-axis-x text {
  fill: #4a4a4a;
  font-size: 12px;
}
.bb line, .bb path {
  stroke: $gray_2
}
.bf-line {
  stroke-width: 2px;
}
.bb-tooltip {
  border: 1px solid $gray_2;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
  opacity: 1;
  .name {
    display: none !important;
  }
}
