@import './_variables.scss';

.icon-item {
  color: $orange_1;
}
.icon-item.folder, .icon-item.folder-special, .icon-item.folder-shared {
  color: $gray_4;
}
.icon-item.text {
  color: #85949e;
}
.icon-item.image {
  color: $notification_green;
}
.icon-item.video {
  color: #b74b4b
}
.icon-item.pdf {
  color: $orange_1;
}
.icon-item.timeseries, .icon-item.tabular {
  color: $purple_1;
}
