.bf-dataset-list-item,
.published-dataset-list-item {
  border-bottom: 1px solid $gray_2;
  padding: 16px 0;

  flex-direction: row;
  align-items: center;

  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border: none;
    padding-bottom: 0;
  }
  h2 {
    color: $gray_6;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: 8px 0 16px;
    &.publish-in-progress {
      color: $gray_4;
    }
    .svg-icon {
      color: #000
    }
  }
  h2 a {
    display: flex;
    .svg-icon {
      flex-shrink: 0;
      margin-right: 4px;
    }
  }
  div .svg-icon {
    flex-shrink: 0;
  }
  .col-label {
    @extend h2;
    margin: 0;
    padding-bottom: 8px;
    padding-top: 4px;
  }
}

.bf-dataset-list-item,
.proposed-dataset-list-item {
  border-bottom: 1px solid $gray_2;
  padding: 16px 0;

  flex-direction: row;
  align-items: center;

  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border: none;
    padding-bottom: 0;
  }
  h2 {
    color: $gray_6;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: 8px 0 16px;
    &.publish-in-progress {
      color: $gray_4;
    }
    .svg-icon {
      color: #000
    }
  }
  h2 a {
    display: flex;
    .svg-icon {
      flex-shrink: 0;
      margin-right: 4px;
    }
  }
  div .svg-icon {
    flex-shrink: 0;
  }
  .col-label {
    @extend h2;
    margin: 0;
    padding-bottom: 8px;
    padding-top: 4px;
  }
}

.bf-dataset-list-item-stat, .bf-workspace-list-item-stat {
  text-align: right;
  padding-top: 25px;
}

.bf-dataset-list-item-stat-align {
  text-align: left;
  padding-top: 25px;
}

.bf-dataset-list-item-status-info {
  border-radius: 6px;
  font-weight: 600;
  margin: 0 auto;
  padding: 5px 6px;
  text-align: center;
  width: fit-content;
  font-size: 12px;
}
.dataset-info {
  display: flex;
}
.bf-dataset-list-item-banner-image {
  height: 88px;
  flex-shrink: 0;
  width: 88px;
}

.dataset-meta, .workspace-meta {
  color: $gray_4;
  font-size: 13px;
  strong {
    color: $text-color;
  }
}
.publish-info {
  align-items: center;
  color: $gray_4;
  display: flex;
  &.error {
    color: $error-color;
  }
  p {
    margin: 0;
  }
  strong {
    color: $gray_6;
  }
  .bf-icon-waiting {
    color: $app-primary-color;
  }
  .link-separator {
    color: $text-color
  }
}
