$purple_1: #5039F7;
$purple_2: #3A26CB;
$purple_3: #34259F;
$purple_tint: #EEEBFE;

$red_1: #F25641;
$red_2: #C14D49;
$red_tint: #FEEEEC;
$orange_1: #F9A23A;
$orange_tint: #FEF6EB;
$green_1: #17bb62;
$green_2: #14a758;
$blue_1: #1030f0;

$black: #000000;
$white: #ffffff;
$gray_0: #FAFAF9;
$gray_1: #F9F9F8;
$gray_2: #E7E5E1;
$gray_3: #CAC5BF;
$gray_4: #928D85;
$gray_5: #5B5955;
$gray_6: #383734;

$notification_green: #357940;
$notification_yellow: #FAD749;

$status_purple: #6D48CE;
$status_teal: #08B3AF;
$status_green: #17BB62;
$status_yellow: #FFB000;
$status_orange: #F67325;
$status_red: #E94B4B;
$status_pink: #DE38B3;
$status_brown: #835800;

// Aliases
$default-primary-color: $purple_1;
$primary-color: $default-primary-color;
$app-primary-color: $purple_1;
$app-secondary-color: $black;
$success-color: $green_1;

$info-color: $purple_1;
$error-color: $orange_1;
$input-placeholder-text: $gray_1;
$link-color: $app-primary-color;
$link-color-hover: $gray_4;
$settings-nav-background: $gray_1;
$delete-button-background: $red_1;
$disabled-radio-button-text-color: $gray_4;
$disabled-radio-button-border-color: $gray_3;
$disabled-radio-button-background-color: $gray_1;
$table-border-dark: solid 1px $gray_4;
$table-border-light: solid 1px $gray_3;
$text-color: $gray_5;
$nav-link-color: $gray_5;
$nav-link-color-hover: $gray_6;

$system-font:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;

// Hide only visually, but have it available for screenreaders: h5bp.com
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
