{
  "extends": ["eslint:recommended", "google", "es2015"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "html"
  ],
  "rules": {
    "array-bracket-spacing": 2,
    "arrow-parens": 0,
    "brace-style": 0,
    "camelcase": 0,
    "comma-dangle": 0,
    "comma-spacing": 2,
    "computed-property-spacing": 0,
    "eol-last": 2,
    "eqeqeq": 2,
    "func-call-spacing": 0,
    "guard-for-in": 2,
    "key-spacing": 0,
    "object-curly-spacing": 0,
    "max-len": 0,
    "new-cap": 0,
    "no-array-constructor": 2,
    "no-fallthrough": 0,
    "no-console": 2,
    "no-case-declarations": 0,
    "no-constant-condition": 2,
    "no-extra-boolean-cast": 0,
    "no-dupe-keys": 2,
    "no-empty": 2,
    "no-extend-native": 2,
    "no-extra-semi": 2,
    "no-invalid-this": 0,
    "no-mixed-spaces-and-tabs": 2,
    "no-multi-spaces": 2,
    "no-multiple-empty-lines": [2, {"max": 2}],
    "no-new-object": 2,
    "no-redeclare": 2,
    "no-trailing-spaces": 2,
    "no-throw-literal": 2,
    "no-undef": 2,
    "no-unreachable": 2,
    "no-unused-labels": 2,
    "no-unused-vars": 2,
    "no-var": 2,
    "one-var": 2,
    "padded-blocks": 0,
    "prefer-rest-params": 0,
    "prefer-spread": 0,
    "quotes": [2, "single", {"allowTemplateLiterals": true}],
    "quote-props": 0,
    "require-jsdoc": 0,
    "semi": 0,
    "semi-spacing": [2, {"before": false, "after": true}],
    "space-before-blocks": 2,
    "space-before-function-paren": 2,
    "spaced-comment": 0,
    "valid-jsdoc": 0
  },
  "globals": {
    "autosizeInput": true,
    "Blackfynn": true,
    "BlackfynnAnnotationBehavior": true,
    "BlackfynnConfig": true,
    "BlackfynnOrganizationSettingsBehavior": true,
    "BlackfynnUploadBehavior": true,
    "clipboard": true,
    "d3": true,
    "dcodeIO": true,
    "e": true,
    "fabric": true,
    "gapi": true,
    "moment": true,
    "OpenSeadragon": true,
    "papaya": true,
    "Polymer": true,
    "Plottable": true,
    "propertyPopup": true,
    "qq": true,
    "R": true,
    "StateAwareBehavior": true,
    "StateBehavior": true,
    "StateBehaviorImpl": true,
    "StaticViewerBehavior": true,
    "WebPaperElem": true,
    "$": true
  }
}
