<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<script>
  /**
  Key behavior that must be assigned to all elements that need to access
  application state and/or have access to the application element. The element is
  notified of any changes to application's state, as well as all its properties
  when they're modified by state mutator elements.

  ### Example:

  #### HTML:
    <template>
      <div>Value A: [[state.valueA]]</div>
      <div>Value B: [[valueB]]</div>
    </template>

  #### JavaScript:
    Polymer({
      is: 'my-element',
      behaviors: [
        StateAwareBehavior
      ],
      properties: {
        value: String
      }
    });

  @polymerBehavior StateAwareBehavior
  */
  StateAwareBehavior = {

    properties: {
      /**
       * Application state, shared among application and all state-aware elements.
       * This property is initialized when element is attached.
       */
      state: {
        type: Object,
      },

      /**
       * Application-level object that allows all state-aware objects access
       * to application element. This property is shared among all state-aware
       * elements and has element field initialized with reference to application
       * element. Any state-aware element can access application state using
       * `getState()` method. Also, all state-aware elements
       * add themselves to `application.stateElements` array on attach (and
       * remove on detach); this list is used to send notification about
       * element state changes.
       */
      application: {
        type: Object,
        value: {
          root: null,
          stateElements: [],
        },
      },
    },

    /**
     * Returns the current application state
     * @return {Object}
     */
    getState: function() {
      return this.get('application.root.state')
    },

    /**
     * Adds this element to the list of state-aware elements in the application.
     * Sets the value of state property to the state of the application element.
     */
    attached: function() {
      this.push('application.stateElements', this)
      this.set('state', this.getState())
    },

    /**
     * Removes this element from the list of state-aware elements in the
     * application.
     */
    detached: function() {
      this.arrayDelete('application.stateElements', this)
    },

  }
</script>
