<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="./bf-state-aware-behavior.html">
<link rel="import" href="../../../config/config.html">

<script>
  /**
  Assign this behavior to your main application element. It provides global
  state and functionality to maintain individual elements states. This behavior
  is responsible for notifying all state-aware elements about their state
  changes. Only one element in the application is supposed to have this behavior.

  ### Example:

  #### HTML:
     <template>
       <!-- state-aware elements -->
       <some-element></some-element>
     </template>

  #### JavaScript:
     Polymer({
       is: 'my-app',
       behaviors: [
         BfStateBehavior
       ],
       attached() {
         this.state = {
           someElement: {}
         }
       }
     });

  In the example above, `<some-element>` will receive notification of any changes to the state,
  as if it was declared as follows:
     <some-element state="[[state]]"></some-element>
  Also, if `<some-element>` has `propertyA`, on element attach this property will be assigned
  the value of `state.someElement.propertyA`, and receive all notification of the property change
  whenever the corresponding data in state tree changes. This essentially translates to following
  declaration:
     <some-element state="[[state]]"
                   propertyA="[[state.someElement.propertyA]]">
     </some-element>
  Note that data binding is one-way in both cases. Although state-aware elements can modify their
  own state, it is considered their private state and no other elements will be notified of those
  changes.

  @polymerBehavior StateBehavior
  */
  StateBehaviorImpl = {

    observers: [
      '_notifyStateElements(state.*)',
    ],

    listeners: {
      'set-state': 'setState',
      'set-state-path': 'setStatePath',
      'clear-state': 'clearState'
    },

    /**
    * Iterates through the array of state-aware elements in the application
    * and notifies them about their state change, if applicable. Note that
    * state-aware elements must be attached to DOM tree in order to receive
    * notifications.
    *
    * @param {Object} change
    */
    _notifyStateElements: function(change) {
      this.get('application.stateElements').forEach((el) => {
        el.notifyPath(change.path, change.value, true)
      })
    },

    /**
     * updates application state object by merging on or more objects to state
     * @param {Object} e
     * @param {Object} updatedState
     */
    setState: function(e, updatedState) {
      this.set('state', Object.assign({}, this.state, updatedState))
    },

    /**
     * updates application state object by merging on or more objects to state
     * @param {Object} e
     * @param {Object} detail
     */
    setStatePath: function(e, detail) {
      // Do nothing if the pattern is not valid
      if(!detail.path || !detail.state === undefined) {
        return;
      }
      let updatedState = detail.state;
      // If updatedState is an object and not an array, make it a new Object
      if(updatedState instanceof Object && !Array.isArray(updatedState)) {
        updatedState = Object.assign({}, updatedState);
      }
      // Set the state at the path
      this.set(`state.${detail.path}`, updatedState)
    },

    /**
     * clears the current app state
     */
    clearState: function() {
      this.set('state', {});
    },

    /**
     * Copies properties from the Config behavior to assign to the initial state object
     */
    copyConfigProps: function() {
      // add all the config keys to state object
      const configProps = Blackfynn.Config.properties;
      return Object
        .keys(configProps)
        .reduce((accum, key) => {
          accum[key] = configProps[key].value;
          return accum;
        }, {});
    },

    /**
     * Sets application.element value to this element (so all state-aware elements
     * have access to application element).
     */
    ready: function() {
      this.set('application.root', this);
      // set the initial state from Config behavior
      this.set('state', this.copyConfigProps());
    },
  }

  /** @polymerBehavior */
  StateBehavior = [
    Blackfynn.Config,
    StateBehaviorImpl,
    StateAwareBehavior,
  ]
</script>
